Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2021-11, with the labels that each got.

#343 removing erroneous space in step 5 of NSLookup
  support/windows-server/networking/verify-srv-dns-records-have-been-created.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#342 Update error-messages.md
  support/azure/virtual-machines/error-messages.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#345 update Applies to
  support/windows-server/remote/incorrect-tls-use-rdp-with-ssl-encryption.md
Labels: do-not-merge, Change sent to author, TriageNeeded, windows-server/prod, windows-server-rds/tech

#349 InstallationState 2 for Win32Apps
  support/mem/intune/understand-troubleshoot-esp.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#352 Update use-portqry-verify-active-directory-tcp-ip-connectivity.md
  support/windows-server/networking/use-portqry-verify-active-directory-tcp-ip-connectivity.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#341 Update changes-to-gpo-permissions-ignored.md
  support/windows-server/group-policy/changes-to-gpo-permissions-ignored.md
Labels: do-not-merge, Change sent to author, TriageNeeded, windows-server/prod, windows-server-group-policy/tech

#353 Step 4 - retry content replication - will never work
  support/mem/configmgr/understand-troubleshoot-updates-servicing.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod

#357 Dynamic Groups improvement update
  support/azure/active-directory/troubleshoot-dynamic-groups.md
Labels: do-not-merge, Change sent to author, active-directory/svc, domain-services/subsvc

#354 Correction to command line arguments
  support/sql/failover-clusters/error-install-sql-server-windows-server-cluster.md
Labels: do-not-merge, Change sent to author, TriageNeeded, Failover Clusters/prod, sql-engine-hadr/tech

#359 Update guid-partitioning-table-disk-faq.yml
  support/windows-server/backup-and-storage/guid-partitioning-table-disk-faq.yml
Labels: do-not-merge, Change sent to author, TriageNeeded

#360 Update transfer-logins-passwords-between-instances.md
  support/sql/security/transfer-logins-passwords-between-instances.md
Labels: do-not-merge, Change sent to author, Security Issues/prod, sql-engine-security/tech

#361 Update troubleshoot-vm-by-use-nested-virtualization.md
  support/azure/virtual-machines/troubleshoot-vm-by-use-nested-virtualization.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc
