Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2021-12, with the labels that each got.

#371 Updated speed from 2 GB to 2Gb (2Gigabit)
  support/windows-server/networking/automatic-metric-for-ipv4-routes.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#373 Update troubleshoot-aad-connect-objects-attributes.md
  support/azure/active-directory/troubleshoot-aad-connect-objects-attributes.md
Labels: do-not-merge, Change sent to author, active-directory/svc, enterprise-users/subsvc

#366 Update kernel-related-boot-issues.md
  support/azure/virtual-machines/kernel-related-boot-issues.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#365 update serial-console-grub-single-user-mode.md
  support/azure/virtual-machines/serial-console-grub-single-user-mode.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#372 Update RegEx Example to include Windows Computer DisplayName
  support/system-center/scom/regular-expression-support.md
Labels: do-not-merge, Change sent to author, system-center/prod, operations-manager/tech

#375 Fix Example #4 to include the Fully Qualified Name of the Agent
  support/system-center/scom/regular-expression-support.md
Labels: do-not-merge, Change sent to author, system-center/prod, operations-manager/tech

#377 Updating Images to SVG format
  support/windows-client/application-management/dotnet-framework-35-installation-error.md
  support/windows-client/application-management/media/dotnet-framework-35-installation-error/enabled-option.svg
  support/windows-client/application-management/media/dotnet-framework-35-installation-error/path-of-the-sxs-folder.svg
  support/windows-client/application-management/media/dotnet-framework-35-installation-error/specify-alternate-source-path.svg
  support/windows-client/application-management/media/dotnet-framework-35-installation-error/system-option.svg
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-application-compatibility/tech

#364 Update serial-console-grub-proactive-configuration.md
  support/azure/virtual-machines/serial-console-grub-proactive-configuration.md
Labels: ready-to-merge, Change sent to author, virtual-machines/svc

#376 Update code to use `System.Diagnostics.Stopwatch`
  support/dotnet/csharp/string-concatenation.md
Labels: do-not-merge, Change sent to author, .net/prod, csharp-general/tech

#382 Corrected a typo
  support/sql/connect/resolving-connectivity-errors.md
Labels: do-not-merge, Change sent to author, sql/prod, sql-engine-connectionissues/tech

#380 Update support-policy-sql-server.md
  support/sql/general/support-policy-sql-server.md
Labels: do-not-merge, Change sent to author, General/prod, sql-general/tech

#378 Added PowerShell examples
  support/mem/configmgr/enable-mfa-for-sms-provider-calls.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod

#383 Update restore-missing-windows-installer-cache-files.md
  support/sql/install/restore-missing-windows-installer-cache-files.md
Labels: do-not-merge, Change sent to author

#385 Fix typo
  support/aspnetcore/2-4-use-local-firewall-allowing-http-access.md
Labels: do-not-merge, Change sent to author, aspnet-core/prod, aspnetcore-practice-troubleshoot-linux/tech

#390 Fixed the syntax language hint
  support/dotnet/framework/confusing-defaultvalueattribute.md
Labels: do-not-merge, Change sent to author, .net/prod, dotnet-general/tech

#391 Update http-error-405-website.md, fixed a typo
  support/iis/http-error-405-website.md
Labels: do-not-merge, Change sent to author, iis/prod, iis-health-diagnostic-performance/tech

#395 Updete toc.yml (Typo "Team explorer"→"Team Explorer")
  support/visualstudio/general/toc.yml
Labels: do-not-merge, review-team-triage

#392 Update dependency-availability-by-country.md
  support/azure/general/dependency-availability-by-country.md
Labels: do-not-merge, Change sent to author, TriageNeeded, azure/svc

#399 added windows 11
  support/windows-client/group-policy/create-and-manage-central-store.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-group-policy/tech

#398 XMLA DELETE Command has invalid namespace
  support/azure/general/delete-corrupted-azure-analysis-services-database.md
Labels: do-not-merge, Change sent to author, azure/svc

#403 wrong value>> will cause the wsynmgr log not to write anything...
  support/mem/configmgr/enable-verbose-logging.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod

#406 formatting issue in support-agent-extensions.md
  support/azure/virtual-machines/support-agent-extensions.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#405 Add new solution for Scenario 1
  support/azure/active-directory/troubleshoot-pwd-sync.md
Labels: do-not-merge, Change sent to author, active-directory/svc, enterprise-users/subsvc

#409 Updating console command to remove typo
  support/windows-server/networking/verify-srv-dns-records-have-been-created.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech
