Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2021-05, with the labels that each got.

#123 Typo: Ticket-granting-ticket
  support/windows-client/group-policy/group-membership-changes-not-updating-over-some-vpn-connections.md
Labels: Change sent to author, do-not-merge, windows-client-group-policy/tech, windows-client/prod

#122 Update update-windows-update-agent.md
  support/windows-client/deployment/update-windows-update-agent.md
Labels: Change sent to author, do-not-merge, windows-client-deployment/tech, windows-client/prod

#121 Update diagnostic-logging-troubleshoot-workplace-join-issues.md
  support/windows-server/networking/diagnostic-logging-troubleshoot-workplace-join-issues.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#120 Update decommission-enterprise-certification-authority-and-remove-obj…
  support/windows-server/windows-security/decommission-enterprise-certification-authority-and-remove-objects.md
Labels: Change sent to author, do-not-merge, windows-server-security/tech, windows-server/prod

#128 Update update-windows-update-agent.md
  support/windows-client/deployment/update-windows-update-agent.md
Labels: Change sent to author, do-not-merge, windows-client-deployment/tech, windows-client/prod

#126 Correct SID S-1-5-17
  support/windows-server/identity/security-identifiers-in-windows.md
Labels: Change sent to author, do-not-merge, windows-server-active-directory/tech, windows-server/prod

#127 Clarify FAT32 being introduced in Windows 95 OSR2
  support/windows-client/backup-and-storage/fat-hpfs-and-ntfs-file-systems.md
Labels: Change sent to author, do-not-merge, windows-client-backup-and-storage/tech, windows-client/prod

#124 Update microsoft-store-not-open-domain-joine-computer-vpn.md
  support/windows-client/shell-experience/microsoft-store-not-open-domain-joine-computer-vpn.md
Labels: Change sent to author, do-not-merge, windows-client-shell-experience/tech, windows-client/prod

#129 Fix typo in command-line
  support/windows-server/performance/disk-performance-slower-multiple-disks.md
Labels: Change sent to author, do-not-merge, windows-server-performance/tech, windows-server/prod

#118 Update windows-azure-guest-agent.md
  support/azure/virtual-machines/windows-azure-guest-agent.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#132 Directory Correction on edit-web-config.md
  support/aspnet/edit-web-config.md
Labels: Change sent to author, asp.net/prod, do-not-merge

#134 Update troubleshoot-scep-certificate-profiles.md
  support/mem/intune/troubleshoot-scep-certificate-profiles.md
Labels: Change sent to author, do-not-merge, intune/prod, microsoft-graph/tech

#136 fixed a number typo
  support/windows-client/networking/tcpip-addressing-and-subnetting.md
Labels: Change sent to author, do-not-merge, windows-client-networking/tech, windows-client/prod

#131 Update windows-azure-guest-agent.md
  support/azure/virtual-machines/windows-azure-guest-agent.md
Labels: Change sent to author, TriageNeeded, do-not-merge, virtual-machines/svc

#138 Update device-licenses-introduction.md
  support/mem/intune/device-licenses-introduction.md
Labels: Change sent to author, do-not-merge, intune/prod, microsoft-graph/tech

#139 IIS configuration file path correction
  support/aspnet/back-up-configuration-files.md
Labels: do-not-merge

#133 Fix anchor tags
  support/sql/general/determine-version-edition-update-level.md
Labels: Change sent to author, do-not-merge

#140 Update restrict-cryptographic-algorithms-protocols-schannel.md
  support/windows-server/windows-security/restrict-cryptographic-algorithms-protocols-schannel.md
Labels: do-not-merge

#141 Update restart-resize-error-troubleshooting.md
  support/azure/virtual-machines/restart-resize-error-troubleshooting.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#145 Adding new links for 21H1 and fixing some links
  support/windows-client/group-policy/create-and-manage-central-store.md
Labels: Change sent to author, do-not-merge, windows-client-group-policy/tech, windows-client/prod

#143 Added list of supported distros.
  support/azure/virtual-machines/repair-linux-vm-using-ALAR.md
Labels: TriageNeeded, do-not-merge

#149 Added ≥ to Vista references ; Added code markdown
  support/windows-client/deployment/analyze-sfc-program-log-file-entries.md
Labels: Change sent to author, windows-client-deployment/tech, windows-client/prod
