Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2021-10, with the labels that each got.

#310 Remove stray <BR/> from code example
  support/sql/database-design/iterate-through-result-set.md
Labels: do-not-merge, Change sent to author, Administration and Management/prod

#282 Updated VM restart text
  support/azure/virtual-machines/understand-vm-reboot.md
Labels: do-not-merge, Change sent to author, TriageNeeded, virtual-machines/svc

#313 Update understand-vm-reboot.md
  support/azure/virtual-machines/understand-vm-reboot.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#303 Adding information on how to troubleshoot SSO related issues.
  support/azure/active-directory/error-code-AADSTS50105-user-not-assigned-role.md
  support/azure/active-directory/error-code-AADSTS70001-app-not-found-in-directory.md
  support/azure/active-directory/error-code-AADSTS750054-saml-request-not-present.md
  support/azure/active-directory/media/testing-sso-screen.PNG
Labels: do-not-merge, Change sent to author, active-directory/svc

#288 Update enable-support-tls-environment.md
  support/azure/active-directory/enable-support-tls-environment.md
Labels: do-not-merge, Change sent to author, active-directory/svc

#316 Update hardware-virtualization-software.md
  support/windows-server/virtualization/non-microsoft-hardware-virtualization-software.md
Labels: do-not-merge, Change sent to author, windows-server/prod, hyper-v/tech

#315 update "objectVersion" attribute map list
  support/windows-server/identity/find-current-schema-version.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech

#317 Added a note about first party apps
  support/azure/active-directory/verify-first-party-apps-sign-in.md
Labels: do-not-merge, Change sent to author, active-directory/svc

#322 Update sysprep-fails-remove-or-update-store-apps.md
  support/windows-client/deployment/sysprep-fails-remove-or-update-store-apps.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-deployment/tech

#325 Update visual-studio-2022-unsupported-operating-systems.md
  support/visualstudio/general/visual-studio-2022-unsupported-operating-systems.md
Labels: do-not-merge, Change sent to author, visual-studio-family/prod
