Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2021-06, with the labels that each got.

#155 Added a screenshot
  support/system-center/dpm/media/upgrade-dpm-vmware-vm-protection/dpm-protection-manager-setup.png
  support/system-center/dpm/upgrade-dpm-vmware-vm-protection.md
Labels: Change sent to author, data-protection-manager/tech, do-not-merge, system-center/prod

#159 Update windows-search-performance-issues.md
  support/windows-client/shell-experience/windows-search-performance-issues.md
Labels: Change sent to author, windows-client-shell-experience/tech, windows-client/prod

#160 Device options aren't in the place stated
  support/azure/active-directory/maximum-number-of-devices-joined-workplace.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#153 Changed "Applies To" section
  support/sql/performance/filter-drivers-lead-to-sql-performance-consistency.md
Labels: Change sent to author, Performance/prod, do-not-merge

#165 Correcting name of Window Manager Group
  support/windows-server/identity/security-identifiers-in-windows.md
Labels: Change sent to author, do-not-merge, windows-server-active-directory/tech, windows-server/prod

#162 Updating info about known issue
  support/windows-client/deployment/updates-not-install-with-fast-startup.md
Labels: Change sent to author, windows-client-deployment/tech, windows-client/prod

#164 Update verify-first-party-apps-sign-in.md
  support/azure/active-directory/verify-first-party-apps-sign-in.md
Labels: Change sent to author, TriageNeeded, active-directory/svc, do-not-merge

#157 Update net-add-not-support-names-exceeding-20-characters.md
  support/windows-server/identity/net-add-not-support-names-exceeding-20-characters.md
Labels: Change sent to author, TriageNeeded, do-not-merge, windows-server-active-directory/tech, windows-server/prod

#169 Update sysprep-fails-remove-or-update-store-apps.md
  support/windows-client/deployment/sysprep-fails-remove-or-update-store-apps.md
Labels: Change sent to author, do-not-merge, windows-client-deployment/tech, windows-client/prod

#168 Update create-and-manage-central-store.md
  support/windows-client/group-policy/create-and-manage-central-store.md
Labels: Change sent to author, do-not-merge, windows-client-group-policy/tech, windows-client/prod

#179 Added apostrophe to example 3 that was missing
  support/windows-server/backup-and-storage/database-backup-error-3266-3013.md
Labels: Change sent to author, do-not-merge, windows-server-backup-and-storage/tech, windows-server/prod

#177 Fix correct error code
  support/windows-server/identity/replication-error-2146893022.md
Labels: Change sent to author, do-not-merge, windows-server-active-directory/tech, windows-server/prod

#178 Update verify-first-party-apps-sign-in.md
  support/azure/active-directory/verify-first-party-apps-sign-in.md
Labels: Change sent to author, TriageNeeded, active-directory/svc, do-not-merge

#180 Update wildcard-matching-rule-fails-with-event-10303.md
  support/system-center/scom/wildcard-matching-rule-fails-with-event-10303.md
Labels: Change sent to author, TriageNeeded, do-not-merge, operations-manager/tech, system-center/prod

#156 Update no-permission-to-enroll-windows-devices.md
  support/mem/intune/no-permission-to-enroll-windows-devices.md
Labels: Change sent to author, TriageNeeded, do-not-merge, intune/prod, microsoft-graph/tech

#183 Update performance-consistency-issues.md
  support/sql/performance/performance-consistency-issues.md
Labels: Change sent to author, Performance/prod, do-not-merge

#185 Updating ESU doc to clarify that Win7 ESU includes .NET Framework 4.5…
  support/windows-client/windows-7-eos-faq/windows-7-extended-security-updates-faq.yml
Labels: do-not-merge

#188 Alter sp_help_revlogin to use QUOTENAME()
  support/sql/security/transfer-logins-passwords-between-instances.md
Labels: do-not-merge

#170 Update cannot-change-state-menu-item.md
  support/cpp/cannot-change-state-menu-item.md
Labels: Change sent to author, do-not-merge, visual-cpp/prod
