Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2021-08, with the labels that each got.

#227 Update serial-console-enable-disable.md
  support/azure/virtual-machines/serial-console-enable-disable.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#222 Update authorization-request-denied-graph-api.md
  support/azure/active-directory/authorization-request-denied-graph-api.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#228 Update windows-update-installation-capacity.md
  support/azure/virtual-machines/windows-update-installation-capacity.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#236 Fix command typos
  support/iis/event-115-connect-https-website.md
Labels: Change sent to author, do-not-merge, iis/prod

#233 Fix Port Range and NetBIOS Display
  support/windows-server/identity/config-firewall-for-ad-domains-and-trusts.md
Labels: Change sent to author, windows-server/prod, windows-server-active-directory/tech

#230 Update troubleshoot-instance-related-issues-on-Azure-app-service.md
  support/azure/general/troubleshoot-instance-related-issues-on-Azure-app-service.md
Labels: do-not-merge, Change sent to author, app-service/svc

#232 Update backing-up-restoring-and-cloning-microsoft-azure-app-services.md
  support/azure/general/backing-up-restoring-and-cloning-microsoft-azure-app-services.md
Labels: do-not-merge, Change sent to author, app-service/svc

#241 Correction of the folder path to the Quorum Disk
  support/windows-server/high-availability/not-cluster-aware-antivirus-software-cause-issue.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-high-availability/tech

#244 Update toc.yml
  support/windows-server/toc.yml
Labels: do-not-merge, review-team-triage

#249 Remove duplicate fragment from swap-file-not-recreated-linux-vm-restart.md
  support/azure/virtual-machines/swap-file-not-recreated-linux-vm-restart.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#248 PowerShell Console characters garbled for CJK languages
  support/windows-server/system-management-components/powershell-console-characters-garbled-for-cjk-languages.md
  support/windows-server/toc.yml
Labels: do-not-merge, Change sent to author, windows-server/prod, review-team-triage, windows-server-system-management-components/tech

#259 Update ntlm-user-authentication.md
  support/windows-server/windows-security/ntlm-user-authentication.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-security/tech

#257 Use RFC 6761 special use domain, not a real domain
  support/windows-server/identity/enable-ldap-over-ssl-3rd-certification-authority.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech

#258 Updated Sort method naming
  support/dotnet/csharp/use-icomparable-icomparer.md
Labels: do-not-merge, Change sent to author, .net/prod

#245 dup lvm added rhel 7 and 8 consolidation
  support/azure/virtual-machines/chroot-environment-linux.md
Labels: ready-to-merge, Change sent to author, TriageNeeded, virtual-machines/svc

#261 Update replications-fail-with-error-5.md
  support/windows-server/identity/replications-fail-with-error-5.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech

#260 Update troubleshoot-wsus-import-sync-issues.md
  support/mem/configmgr/troubleshoot-wsus-import-sync-issues.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod

#262 Update stop-code-driver-verifier-dma-violation.md
  support/windows-server/performance/stop-code-driver-verifier-dma-violation.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-performance/tech

#263 Update rdp-not-working-cloud-service.md
  support/azure/cloud-services/rdp-not-working-cloud-service.md
Labels: do-not-merge, Change sent to author, cloud-services/svc

#267 Update read-write-text-file.md
  support/dotnet/csharp/read-write-text-file.md
Labels: do-not-merge, Change sent to author, .net/prod
