Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2021-07, with the labels that each got.

#198 script download link is wrong
  support/windows-server/identity/event1644reader-analyze-ldap-query-performance.md
Labels: Change sent to author, do-not-merge, windows-server-active-directory/tech, windows-server/prod

#197 Corrected the blog post link to techcommunity
  support/windows-server/identity/event1644reader-analyze-ldap-query-performance.md
Labels: Change sent to author, do-not-merge, windows-server-active-directory/tech, windows-server/prod

#201 Remove productType from wmi filter
  support/windows-client/group-policy/use-group-policy-to-deploy-known-issue-rollback.md
Labels: Change sent to author, do-not-merge, windows-client-group-policy/tech, windows-client/prod

#200 Update troubleshoot-ios-enrollment-errors.md
  support/mem/intune/troubleshoot-ios-enrollment-errors.md
Labels: Change sent to author, TriageNeeded, do-not-merge, microsoft-intune/svc

#205 Updatednames
  support/sql/general/end-support-sql-server-2008.md
  support/windows-server/windows-server-eos-faq/end-of-support-windows-server-2008-2008r2.yml
Labels: Change sent to author, do-not-merge, sql/prod

#204 Update kdc-service-on-rodc-cant-start-error-1450.md
  support/windows-server/windows-security/kdc-service-on-rodc-cant-start-error-1450.md
Labels: Change sent to author, ready-to-merge, windows-server-security/tech, windows-server/prod

#171 Update note for custom storage account
  support/azure/virtual-machines/serial-console-overview.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#203 Update lt2p-ipsec-ras-vpn-connections-fail.md
  .openpublishing.redirection.json
  support/windows-server/networking/rras-vpn-connections-fail-ms-chapv2-authentication.md
  support/windows-server/toc.yml
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#211 Update not-log-on-error-rpc-server-unavailable.md
  support/windows-server/user-profiles-and-logon/not-log-on-error-rpc-server-unavailable.md
Labels: Change sent to author, do-not-merge, windows-server-user-profiles/tech, windows-server/prod

#212 Update useraccountcontrol-manipulate-account-properties.md
  support/windows-server/identity/useraccountcontrol-manipulate-account-properties.md
Labels: Change sent to author, do-not-merge, windows-server-active-directory/tech, windows-server/prod

#213 Update address-resolution-protocol-arp-caching-behavior.md
  support/windows-server/networking/address-resolution-protocol-arp-caching-behavior.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#216 Updating "Transfer or seize FSMO roles in Active Directory Domain Services" document
  support/windows-server/identity/transfer-or-seize-fsmo-roles-in-ad-ds.md
Labels: Change sent to author, do-not-merge, windows-server-active-directory/tech, windows-server/prod

#217 Update rras-doesnt-start.md
  support/windows-server/networking/rras-doesnt-start.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#218 Update service-overview-and-network-port-requirements.md
  support/windows-server/networking/service-overview-and-network-port-requirements.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#219 Update troubleshoot-errors-join-computer-to-domain.md
  support/windows-server/identity/troubleshoot-errors-join-computer-to-domain.md
Labels: Change sent to author, do-not-merge, windows-server-active-directory/tech, windows-server/prod

#220 Update service-overview-and-network-port-requirements.md
  support/windows-server/networking/service-overview-and-network-port-requirements.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#224 Update database-cannot-be-started-in-this-edition-of-sql-error-when-r…
  support/dynamics-365/sales/database-cannot-be-started-in-this-edition-of-sql-error-when-restoring.md
Labels: Change sent to author, do-not-merge, dynamics-365-sales/svc

#223 Adding basic troubleshooting steps
  support/windows-server/virtualization/troubleshoot-live-migration-issues.md
Labels: Change sent to author, do-not-merge, hyper-v/tech, windows-server/prod
