Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2021-04, with the labels that each got.

#91 Update troubleshoot-bitlocker-boot-error.md
  support/azure/virtual-machines/troubleshoot-bitlocker-boot-error.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#67 Update swap-file-not-recreated-linux-vm-restart.md
  support/azure/virtual-machines/swap-file-not-recreated-linux-vm-restart.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#89 Update read-small-memory-dump-file.md
  support/windows-client/performance/read-small-memory-dump-file.md
Labels: Change sent to author, do-not-merge, windows-client-performance/tech, windows-client/prod

#86 Fix issue with SDDL format
  support/windows-server/shell-experience/access-denied-runas-command-run-as-administrator.md
Labels: Change sent to author, do-not-merge, windows-server-shell-experience/tech, windows-server/prod

#83 Update remote-server-administration-tools.md
  support/windows-server/system-management-components/remote-server-administration-tools.md
Labels: Change sent to author, do-not-merge, windows-server-system-management-components/tech, windows-server/prod

#82 Inconsistent registry locations
  support/windows-server/identity/configure-authoritative-time-server.md
Labels: Change sent to author, do-not-merge, windows-server-active-directory/tech, windows-server/prod

#60 Fix "DefaultDomain" typo
  support/windows-server/user-profiles-and-logon/turn-on-automatic-logon.md
Labels: Change sent to author, TriageNeeded, do-not-merge, windows-server-user-profiles/tech, windows-server/prod

#93 Typo in PowerShell code
  support/windows-client/group-policy/group-membership-changes-not-updating-over-some-vpn-connections.md
Labels: Change sent to author, do-not-merge, windows-client-group-policy/tech, windows-client/prod

#37 Update updates-not-install-with-fast-startup.md
  support/windows-client/deployment/updates-not-install-with-fast-startup.md
Labels: Change sent to author, TriageNeeded, do-not-merge, windows-client-deployment/tech, windows-client/prod

#58 Remove the use of SET ROWCOUNT and GOTO in incremental delete example
  support/sql/performance/resolve-blocking-problems-caused-lock-escalation.md
Labels: Change sent to author, Performance/prod, TriageNeeded, do-not-merge

#95 Update troubleshoot-aad-connect-objects-attributes.md
  support/azure/active-directory/troubleshoot-aad-connect-objects-attributes.md
Labels: Change sent to author, do-not-merge

#99 Regedit32.exe filename typo fix
  support/windows-server/user-profiles-and-logon/turn-on-automatic-logon.md
Labels: Change sent to author, do-not-merge, windows-server-user-profiles/tech, windows-server/prod

#100 Update details on use of ICMP ping
  support/windows-server/identity/config-firewall-for-ad-domains-and-trusts.md
Labels: Change sent to author, do-not-merge, windows-server-active-directory/tech, windows-server/prod

#77 Update swap-file-not-recreated-linux-vm-restart.md
  support/azure/virtual-machines/swap-file-not-recreated-linux-vm-restart.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#46 Update http-error-500-19-webpage.md
  support/iis/http-error-500-19-webpage.md
Labels: Change sent to author, TriageNeeded, do-not-merge, iis/prod

#78 Update http-error-405-website.md
  support/iis/http-error-405-website.md
Labels: Change sent to author, TriageNeeded, do-not-merge, iis/prod

#101 Update cannot-use-802dot1x-user-authentication-connect-rds.md
  support/windows-client/remote/cannot-use-802dot1x-user-authentication-connect-rds.md
Labels: Change sent to author, do-not-merge, windows-client-rds/tech, windows-client/prod

#103 Add Windows Update troubleshooter
  support/windows-client/windows-troubleshooters/active-and-retired-troubleshooters-windows-10.md
Labels: Change sent to author, do-not-merge, windows-client-troubleshooter/tech, windows-client/prod

#105 Update troubleshoot-dynamic-groups.md
  support/azure/active-directory/troubleshoot-dynamic-groups.md
Labels: do-not-merge

#114 Update dynamic-link-library.md
  support/windows-client/deployment/dynamic-link-library.md
Labels: Change sent to author, do-not-merge, windows-client-deployment/tech, windows-client/prod

#111 Fixing incorrect link in 'filtered-index-with-column-is-null' page
  support/sql/database-design/filtered-index-with-column-is-null.md
Labels: Change sent to author, Database Design and Development/prod, do-not-merge
