Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2021-03, with the labels that each got.

#54 Correct typo in the change user execute command
  support/windows-server/performance/toggle-terminal-services-application-server-mode.md
Labels: Change sent to author, do-not-merge, windows-server-performance/tech, windows-server/prod

#62 Suggesting a title change to "Resolve"
  support/sql/performance/troubleshoot-blocking-caused-compile-locks.md
Labels: Change sent to author, Performance/prod, do-not-merge

#74 Update remove-duplicate-rows-sql-server-tab.md
  support/sql/database-design/remove-duplicate-rows-sql-server-tab.md
Labels: Change sent to author, Database Design and Development/prod, do-not-merge

#79 Corrected Merge Conflicts for the 2 articles suggested
  support/azure/active-directory/proxyaddresses-attribute-populate.md
  support/azure/virtual-machines/troubleshoot-rdp-internal-error.md
  support/dotnet/framework/deploy-applications.md
  support/dotnet/framework/perfview-diagnostic-information.md
  support/iis/understanding-identities.md
  support/sql/database-design/remove-duplicate-rows-sql-server-tab.md
  support/sql/performance/troubleshoot-blocking-caused-compile-locks.md
  support/windows-client/application-management/dotnet-framework-35-installation-error.md
  support/windows-client/shell-experience/larger-windowsdotedb-file.md
  support/windows-server/application-management/rebuild-move-msdtc-installation-used-with-sql-failover-cluster.md
  support/windows-server/deployment/windows-server-support-installation-for-amd-role-family-processor.md
  support/windows-server/identity/gpo-processing-failures-across-foreast.md
  support/windows-server/identity/replication-error-2146893022.md
  support/windows-server/performance/toggle-terminal-services-application-server-mode.md
  support/windows-server/system-management-components/what-is-microsoft-management-console.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc, windows-server-system-management-components/tech, windows-server/prod

#80 50
  support/windows-server/deployment/windows-server-support-installation-for-amd-role-family-processor.md
Labels: Change sent to author, do-not-merge, windows-server-deployment/tech, windows-server/prod

#66 Fixed typo
  support/windows-client/deployment/standard-terminology-software-updates.md
Labels: Change sent to author, do-not-merge, windows-client-deployment/tech, windows-client/prod

#85 Update 999-acknowledgments-hipaa-5010.md
  support/biztalk/999-acknowledgments-hipaa-5010.md
Labels: Accelerators/prod, Change sent to author, do-not-merge

#5 Replace with a better method to delete duplicates
  support/sql/database-design/remove-duplicate-rows-sql-server-tab.md
Labels: Change sent to author, Database Design and Development/prod, TriageNeeded, do-not-merge
