Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2021-09, with the labels that each got.

#268 Changed the sample language to C.
  support/windows/win32/change-windows-active-directory-user-password.md
Labels: do-not-merge, Change sent to author, windows-dev-apps/prod

#270 Update troubleshoot-dbcc-errors.md
  support/sql/admin/troubleshoot-dbcc-errors.md
Labels: do-not-merge, Change sent to author, Administration and Management/prod

#273 Update overview-server-message-block-signing.md
  support/windows-server/networking/overview-server-message-block-signing.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#274 Fix typo in detect-and-recover-from-usn-rollback.md
  support/windows-server/identity/detect-and-recover-from-usn-rollback.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech

#276 Update kerberos-client-krb-ap-err-modified-error.md
  support/windows-server/windows-security/kerberos-client-krb-ap-err-modified-error.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-security/tech

#265 Added missing value of 5 for ClientHealthStatus
  support/mem/intune/troubleshoot-co-management-bootstrap.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#277 Update remote-desktop-ip-virtualization-not-work.md
  support/windows-server/remote/remote-desktop-ip-virtualization-not-work.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-rds/tech

#280 Update vm-inspector-azure-virtual-machines.md
  support/azure/virtual-machines/vm-inspector-azure-virtual-machines.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#279 Include SQL 2019 and Compat Level 150
  support/sql/tools/use-sqldumper-generate-dump-file.md
Labels: do-not-merge, Change sent to author, Other tools/prod

#281 Update Article to add another known solution for Event 76 Auto MDM Enroll: Failed (Unknown Win32 Error code: 0x8018002b)
  support/mem/intune/troubleshoot-windows-enrollment-errors.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#284 Update windows-server-update-services-best-practices.md
  support/mem/configmgr/windows-server-update-services-best-practices.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod

#286 Update troubleshoot-broken-secure-channel.md
  support/azure/virtual-machines/troubleshoot-broken-secure-channel.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#285 Update remote-desktop-ip-virtualization.md
  support/windows-server/remote/remote-desktop-ip-virtualization.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-rds/tech

#291 Fix typo
  support/aspnetcore/3-3-debuggers-collect-core-dumps.md
Labels: do-not-merge, Change sent to author, aspnet-core/prod

#289 Update integrate-cisco-ise-intune.md
  support/mem/intune/integrate-cisco-ise-intune.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#295 Update troubleshoot-software-update-synchronization.md
  support/mem/configmgr/troubleshoot-software-update-synchronization.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod

#296 Add note for GP Central Store
  support/windows-client/group-policy/use-group-policy-to-deploy-known-issue-rollback.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-group-policy/tech

#299 Wrong GPO name for standalone computers
  support/windows-server/performance/enable-verbose-startup-shutdown-logon-logoff-status-messages.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-performance/tech
