Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2022-07, with the labels that each got.

#626 Update rebuild-tokens-dotdat-file.md
  support/windows-server/deployment/rebuild-tokens-dotdat-file.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-deployment/tech

#631 Update objects-dont-sync-ad-sync-tool.md
  support/azure/active-directory/objects-dont-sync-ad-sync-tool.md
Labels: do-not-merge, Change sent to author, active-directory/svc, enterprise-users/subsvc

#634 Update determine-version-edition-update-level.md
  support/sql/general/determine-version-edition-update-level.md
Labels: do-not-merge, Change sent to author, sql/prod, sql-general/tech

#639 Added first party app OMSOctopiPROD
  support/azure/active-directory/verify-first-party-apps-sign-in.md
Labels: do-not-merge, review-team-triage

#641 Update troubleshoot-rdp-connection.md
  support/azure/virtual-machines/troubleshoot-rdp-connection.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#636 Add missing word
  support/developer/webapps/aspnetcore/practice-troubleshoot-linux/2-1-create-configure-aspnet-core-applications.md
Labels: do-not-merge, Change sent to author, aspnet-core/prod, aspnetcore-practice-troubleshoot-linux/tech

#649 Update monitor-powers-off-when-pc-locked.md
  support/windows-client/shell-experience/monitor-powers-off-when-pc-locked.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-shell-experience/tech

#652 Added PowerShell usage example, fixed path
  support/windows-server/application-management/move-event-viewer-log-files.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-application-compatibility/tech

#656 Update troubleshoot-bitlocker-policies.md
  support/mem/intune/troubleshoot-bitlocker-policies.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#655 Update troubleshoot-ad-fs-sso-issue.md
  support/windows-server/identity/troubleshoot-ad-fs-sso-issue.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech

#654 add the os version and .mrt file
  support/windows-server/virtualization/antivirus-exclusions-for-hyper-v-hosts.md
Labels: do-not-merge, Change sent to author, windows-server/prod, hyper-v/tech

#635 Update identify-memory-saturation-aks.md
  support/azure/azure-kubernetes/identify-memory-saturation-aks.md
Labels: do-not-merge, Change sent to author, container-service/svc

#657 add the os version and excluded processes
  support/windows-server/high-availability/not-cluster-aware-antivirus-software-cause-issue.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-high-availability/tech

#646 Updated script for best practices
  support/mem/configmgr/decline-superseded-updates.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod
