Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2022-05, with the labels that each got.

#553 Minor typo: drivers -> drives
  support/windows-client/networking/mapped-network-drive-fail-reconnect.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-networking/tech

#559 Fix links
  support/windows-server/identity/export-root-certification-authority-certificate.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech, docs-editor-pilot

#558 Update rras-vpn-connections-fail-ms-chapv2-authentication.md
  support/windows-server/networking/rras-vpn-connections-fail-ms-chapv2-authentication.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#562 fixed missing curly brace in example
  support/developer/webapps/aspnet/development/spawn-process-under-impersonated-user.md
Labels: do-not-merge, Change sent to author, TriageNeeded, asp.net/prod, aspnet-development/tech

#561 Fix issue with missing bullet and start of next section
  support/system-center/scom/troubleshoot-gray-agent-states.md
Labels: do-not-merge, Change sent to author, review-team-triage, system-center/prod, operations-manager/tech

#564 Update default-permissions-user-rights.md
  support/developer/webapps/iis/www-authentication-authorization/default-permissions-user-rights.md
Labels: do-not-merge, Change sent to author, iis/prod, iis-www-authentication-authorization/tech

#569 Remove escape of underscore in service file
  support/developer/webapps/aspnetcore/practice-troubleshoot-linux/2-3-configure-aspnet-core-application-start-automatically.md
Labels: do-not-merge, Change sent to author, aspnet-core/prod, aspnetcore-practice-troubleshoot-linux/tech

#572 Cleaning up links with extra characters/spacing
  support/sql/tools/sqliosim-utility-simulate-activity-disk-subsystem-linux.md
Labels: do-not-merge, Change sent to author, sql/prod, sql-tools/tech

#568 added windows 11 ansd server 2022,
  support/windows-server/user-profiles-and-logon/manage-profile-service-slow-link-detection.md
Labels: do-not-merge, Change sent to author, TriageNeeded, windows-server/prod, windows-server-user-profiles/tech

#567 update chroot steps
  support/azure/virtual-machines/chroot-environment-linux.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#580 Update proxyaddresses-attribute-populate.md
  support/azure/active-directory/proxyaddresses-attribute-populate.md
Labels: do-not-merge, Change sent to author, active-directory/svc, enterprise-users/subsvc
