Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2022-04, with the labels that each got.

#516 Update understand-vm-reboot.md
  support/azure/virtual-machines/understand-vm-reboot.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#519 Update install-rds-host-role-service-without-connection-broker.md
  support/windows-server/remote/install-rds-host-role-service-without-connection-broker.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-rds/tech

#513 Update buffer-pool-scan-runs-slowly-large-memory-machines.md
  support/sql/performance/buffer-pool-scan-runs-slowly-large-memory-machines.md
Labels: do-not-merge, Change sent to author, TriageNeeded, sql/prod, sql-engine-performance/tech

#521 Fix typo in Azure VM TOC
  support/azure/virtual-machines/toc.yml
Labels: do-not-merge, review-team-triage

#504 Update troubleshoot-data-protection-manager-console-crash.md
  support/system-center/dpm/troubleshoot-data-protection-manager-console-crash.md
Labels: do-not-merge, Change sent to author, TriageNeeded, system-center/prod, data-protection-manager/tech

#509 Update verify-first-party-apps-sign-in.md
  support/azure/active-directory/verify-first-party-apps-sign-in.md
Labels: do-not-merge, Change sent to author, active-directory/svc, compliance/subsvc

#501 Update vm-inspector-azure-virtual-machines.md
  support/azure/virtual-machines/vm-inspector-azure-virtual-machines.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#524 Update netsh-advfirewall-firewall-control-firewall-behavior.md
  support/windows-server/networking/netsh-advfirewall-firewall-control-firewall-behavior.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#525 Update secure-file-exchange-transfer-files.md
  support/azure/general/secure-file-exchange-transfer-files.md
Labels: do-not-merge, Change sent to author, azure/svc

#526 Update error-code-AADSTS650056-misconfigured-app.md
  support/azure/active-directory/error-code-AADSTS650056-misconfigured-app.md
Labels: do-not-merge, Change sent to author, active-directory/svc, app-mgmt/subsvc

#531 Resolve syncing conflicts from repo_sync_working_branch to main
  support/azure/general/faqs-app-service-linux.yml
  support/azure/general/secure-file-exchange-transfer-files.md
Labels: do-not-merge, Change sent to author, azure/svc

#528 Update Win32 App install to reflect collect diagnostic
  support/mem/intune/troubleshoot-win32-app-install.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#527 Update resource-domain-changes.md
  support/mem/configmgr/resource-domain-changes.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod

#536 Replace Ctrl+Alt+Delete to Ctrl+Shift+Esc to Immediate access Task…
  support/windows-server/performance/determine-which-program-use-block-tcp-ports.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-performance/tech

#539 Update operation-timed-out-error-disk-management-console.md
  support/windows-client/deployment/operation-timed-out-error-disk-management-console.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-deployment/tech

#541 URL to How Security Descriptors work was not working
  support/windows-server/windows-security/error-add-user-to-security-permissions.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-security/tech

#533 Update faqs-app-service-linux.yml
  support/azure/general/faqs-app-service-linux.yml
Labels: do-not-merge, Change sent to author

#538 Update dependency-availability-by-country.md
  support/azure/general/dependency-availability-by-country.md
Labels: do-not-merge, Change sent to author, azure/svc

#544 A suggestion regarding 230s timeout
  support/azure/general/web-apps-performance-faqs.md
Labels: do-not-merge, Change sent to author, cloud-services/svc
