Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2022-06, with the labels that each got.

#577 Change `HTT` to `HTTP` / Update versions applied to issue
  support/system-center/scom/web-console-login-errors.md
Labels: do-not-merge, Change sent to author, system-center/prod, operations-manager/tech

#588 Update proxyaddresses-attribute-populate.md
  support/azure/active-directory/proxyaddresses-attribute-populate.md
Labels: do-not-merge, Change sent to author, active-directory/svc, enterprise-users/subsvc

#578 NDVALPHA MIGRATE CA TO ANOTHER SERVER UPDATE
  support/windows-server/identity/move-certification-authority-to-another-server.md
Labels: do-not-merge, Change sent to author, TriageNeeded, windows-server/prod, windows-server-active-directory/tech

#597 Corrected wrong parameter for 'Set-AzVM'.
  support/azure/virtual-machines/vm-stuck-in-failed-state.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#589 Update URL to version 2.0 of 21H2 ADMX Download
  support/windows-client/group-policy/create-and-manage-central-store.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-group-policy/tech

#591 Add .NET framework troubleshooter
  support/windows-client/windows-troubleshooters/active-and-retired-troubleshooters-windows-10.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-troubleshooter/tech

#592 fix "applies to" with supported OS Level [tested]
  support/windows-server/identity/move-certification-authority-to-another-server.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech

#600 NDVALPHA UPDATED END OF SUPPORT
  support/windows-server/identity/move-certification-authority-to-another-server.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech

#593 Updating formating
  support/windows-server/identity/find-current-schema-version.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech

#590 Add HasAMD64PerMachineSystrayIconBeenPromoted to the list of keys to add
  support/windows-client/ue-v/percent-username-percent-unavailable.md
Labels: do-not-merge, Change sent to author

#604 NDVALPHA-UPDATED-OSVERSIONS
  support/windows-server/identity/move-certification-authority-to-another-server.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech

#605 Update run-programs-automatically.md
  support/windows-client/system-management-components/run-programs-automatically.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-system-management-components/tech

#607 Update old link URL
  support/azure/virtual-machines/server-software-support.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#608 Small typo fix on detetection.xml
  support/mem/intune/develop-deliver-working-win32-app-via-intune.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#610 One word fix spelling (pervious->previous)
  support/windows-client/user-profiles-and-logon/renaming-user-account-not-change-profile-path.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-user-profiles/tech

#609 Update troubleshoot-sdn-guidance.md
  support/windows-server/software-defined-networking/troubleshoot-sdn-guidance.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-sdn/tech

#616 Update how-to-customize-or-format-date-and-time-values-in-flow.md
  support/power-platform/power-automate/how-to-customize-or-format-date-and-time-values-in-flow.md
Labels: do-not-merge, Change sent to author, power-automate/svc, power-automate-admin/subsvc

#618 Update troubleshoot-win32-app-install.md
  support/mem/intune/troubleshoot-win32-app-install.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#619 Update return-codes-used-robocopy-utility.md
  support/windows-server/backup-and-storage/return-codes-used-robocopy-utility.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-backup-and-storage/tech

#615 Update troubleshoot-ssh-connection.md
  support/azure/virtual-machines/troubleshoot-ssh-connection.md
Labels: do-not-merge, Change sent to author, TriageNeeded, virtual-machines/svc
