Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2022-12, with the labels that each got.

#798 Update microsoft-dynamics-gp-stops-responding-crashes.md
  support/dynamics/gp/microsoft-dynamics-gp-stops-responding-crashes.md
Labels: do-not-merge, Change sent to author, dynamics-gp/prod

#807 Add scenario for IsManagedAccount
  support/sql/admin/error-1069-service-cannot-start.md
Labels: do-not-merge, Change sent to author, sql/prod, sql-engine-admin-management/tech

#808 Correct the spelling of sudo command
  support/developer/webapps/aspnetcore/practice-troubleshoot-linux/2-3-configure-aspnet-core-application-start-automatically.md
Labels: do-not-merge, Change sent to author, aspnet-core/prod, aspnetcore-practice-troubleshoot-linux/tech

#812 The second example did not work properly
  support/mem/configmgr/setup-migrate-backup-recovery/enable-mfa-for-sms-provider-calls.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, setup-mig-backup-recovery/tech

#821 Fixed typo in binary conversion
  support/windows-client/networking/tcpip-addressing-and-subnetting.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-networking/tech

#822 Add missing whitespace to determine-which-program-use-block-tcp-ports.md
  support/windows-server/performance/determine-which-program-use-block-tcp-ports.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-performance/tech

#817 Updating article for improvements
  support/windows-client/system-management-components/daylight-saving-time-help-support.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-system-management-components/tech

#819 AB# 171014: Updating article for improvements
  support/windows-client/shell-experience/fix-problems-in-windows-search.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-shell-experience/tech

#820 AB# 171015: Updating article for improvements
  support/windows-server/deployment/fix-windows-update-errors.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-deployment/tech

#824 Update http-status-code.md indenting
  support/developer/webapps/iis/www-administration-management/http-status-code.md
Labels: do-not-merge, Change sent to author, iis/prod, iis-www-administration-management/tech
