Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2022-08, with the labels that each got.

#673 Correct typo
  support/azure/azure-kubernetes/error-code-poddrainfailure.md
Labels: do-not-merge, Change sent to author, container-service/svc

#653 Update linux-recovery-cannot-start-file-system-errors.md
  support/azure/virtual-machines/linux-recovery-cannot-start-file-system-errors.md
  support/azure/virtual-machines/unlock-encrypted-linux-disk-offline-repair.md
Labels: do-not-merge, Change sent to author, TriageNeeded, virtual-machines/svc

#674 Added info on .NET 4.8.1 support
  support/developer/visualstudio/general/visual-studio-2022-unsupported-operating-systems.md
Labels: do-not-merge, Change sent to author, TriageNeeded, visual-studio-family/prod, vs-general/tech

#676 Update error-code-AADSTS75011-auth-method-mismatch.md
  support/azure/active-directory/error-code-AADSTS75011-auth-method-mismatch.md
Labels: do-not-merge, Change sent to author, active-directory/svc, app-mgmt/subsvc

#677 Typo "Azure file storage"→"Azure File Storage"
  support/azure/general/request-body-large.md
Labels: do-not-merge, Change sent to author, storage/svc, files/subsvc

#679 update exclusion file
  support/windows-server/virtualization/antivirus-exclusions-for-hyper-v-hosts.md
Labels: do-not-merge, Change sent to author, windows-server/prod, hyper-v/tech

#686 remove non-code from code snippet
  support/azure/active-directory/pending-devices.md
Labels: do-not-merge, Change sent to author, active-directory/svc, domain-services/subsvc

#690 Update error-when-posting-analytical-accounting-transactions-or-save-…
  support/dynamics/gp/error-when-posting-analytical-accounting-transactions-or-save-master-record.md
Labels: do-not-merge, Change sent to author, dynamics-gp/prod

#693 Added note for Win 10 Multi-session
  support/azure/virtual-machines/in-place-system-upgrade.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#695 Update known-issues.md
  support/mem/intune/known-issues.md
Labels: do-not-merge

#697 Update renaming-user-account-not-change-profile-path.md
  support/windows-client/user-profiles-and-logon/renaming-user-account-not-change-profile-path.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-user-profiles/tech
