Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2022-11, with the labels that each got.

#774 Fix URL
  support/mem/intune/device-enrollment/troubleshoot-windows-auto-enrollment.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, intune-device-enrollment/subsvc

#768 AB#169199: Update kerberos-protocol-registry-kdc-configuration-keys.md
  support/windows-server/windows-security/kerberos-protocol-registry-kdc-configuration-keys.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-security/tech

#771 AB#169431: Orphaned flows display blank instead on none
  support/power-platform/power-automate/manage-orphan-flow-when-owner-leaves-org.md
Labels: do-not-merge, Change sent to author, power-automate-flows/subsvc, power-automate/svc

#775 Update chroot-environment-linux.md
  support/azure/virtual-machines/chroot-environment-linux.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-backup-restore/subsvc

#780 Update suse-public-cloud-connectivity-registration-issues.md
  support/azure/virtual-machines/suse-public-cloud-connectivity-registration-issues.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-cannot-connect/subsvc

#783 Add reference to Server 2019 Minroot behavior page
  support/windows-server/virtualization/support-and-installation-instructions-for-amd-epyc-9004-series-server-processors.md
Labels: do-not-merge, Change sent to author, windows-server/prod, hyper-v/tech

#784 Convey 'processor' in this context mean logical processor
  support/windows-server/virtualization/windows-server-hyper-v-host-minroot-behaviors.md
Labels: do-not-merge, Change sent to author, windows-server/prod, hyper-v/tech

#788 Update dfs-namespaces-service-configuration-data.md
  support/windows-server/networking/dfs-namespaces-service-configuration-data.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#791 Update in-place-system-upgrade.md
  support/azure/virtual-machines/in-place-system-upgrade.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-common-errors-issues/subsvc

#789 SQL Server 2022 released
  support/sql/general/determine-version-edition-update-level.md
Labels: do-not-merge, Change sent to author, sql/prod, sql-general/tech

#797 Update troubleshoot-high-cpu-usage-guidance.md
  support/windows-server/performance/troubleshoot-high-cpu-usage-guidance.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-performance/tech
