Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2022-10, with the labels that each got.

#739 Update 0x80004027-remotely-access-com-plus-object.md
  support/windows-server/application-management/0x80004027-remotely-access-com-plus-object.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-application-compatibility/tech

#742 Update decommission-enterprise-certification-authority-and-remove-obj…
  support/windows-server/windows-security/decommission-enterprise-certification-authority-and-remove-objects.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-security/tech

#740 AB#168029: Update verify-if-web-service-is-correct.md
  support/dynamics/gp/verify-if-web-service-is-correct.md
Labels: do-not-merge, Change sent to author, dynamics-gp/prod

#746 Update verbiage :left_speech_bubble:
  support/system-center/scom/troubleshoot-unix-linux-agent-discovery.md
Labels: do-not-merge

#750 Update naming-conventions-for-computer-domain-site-ou.md
  support/windows-server/identity/naming-conventions-for-computer-domain-site-ou.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech

#752 NDVALPHA-NESTEDRDP-WINDOWS-VERSIONS
  support/windows-server/remote/run-remote-desktop-connection-session.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-rds/tech

#755 added windows 10 21h2 v2 , windows 11 22h2 admx
  support/windows-client/group-policy/create-and-manage-central-store.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-group-policy/tech

#758 updating TSG due to intunemac deprecation
  support/mem/intune/macos-lob-apps-not-deployed.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#762 Update troubleshoot-policies-in-microsoft-intune.md
  support/mem/intune/troubleshoot-policies-in-microsoft-intune.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#761 update screenshot
  support/mem/intune/error-0x87d13ba2-deploy-macos-lob-app.md
  support/mem/intune/media/error-0x87d13ba2-deploy-macos-lob-app/error-0x87d13ba2.png
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#760 Fixing second powershell script
  support/azure/azure-monitor/app-insights/investigate-missing-telemetry.md
Labels: do-not-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc

#764 AB#168886: Update turn-on-automatic-logon.md
  support/windows-server/user-profiles-and-logon/turn-on-automatic-logon.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-user-profiles/tech

#765 corrected video link
  support/azure/active-directory/pending-devices.md
Labels: do-not-merge, Change sent to author, active-directory/svc, domain-services/subsvc
