Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2022-02, with the labels that each got.

#458 Updated Line of text to table
  support/windows-client/networking/tcpip-addressing-and-subnetting.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-networking/tech

#455 Update access-denied-error-occurs-dcpromo.md
  support/windows-server/identity/access-denied-error-occurs-dcpromo.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech

#457 Update state-message-processing-performance.md
  support/mem/configmgr/state-message-processing-performance.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod

#454 fix: replace IIS_USRS with IIS_IUSRS
  support/developer/webapps/iis/www-authentication-authorization/default-permissions-user-rights.md
Labels: do-not-merge, Change sent to author, iis/prod, iis-www-authentication-authorization/tech

#436 Update unlock-encrypted-linux-disk-offline-repair.md
  support/azure/virtual-machines/unlock-encrypted-linux-disk-offline-repair.md
Labels: do-not-merge, Change sent to author, TriageNeeded, virtual-machines/svc

#459 Update certificate-based-authenticate-issue.md
  support/azure/active-directory/certificate-based-authenticate-issue.md
Labels: do-not-merge, review-team-triage

#462 Edited SharePoint site not listed
  .openpublishing.redirection.json
  support/power-platform/power-automate/dropdown-does-not-list-items-in-trigger-or-action.md
  support/power-platform/power-automate/sharepoint-site-not-listed-in-trigger-or-action.md
  support/power-platform/power-automate/toc.yml
Labels: do-not-merge, Change sent to author, power-automate-flows/subsvc, power-automate/svc

#463 Update allocation-failure.md
  support/azure/virtual-machines/allocation-failure.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#469 Resolve syncing conflicts from repo_sync_working_branch to main
  .openpublishing.redirection.json
  support/windows/win32/addin-components-core-os-processes.md
  support/windows/win32/toc.yml
Labels: do-not-merge, Change sent to author, windows-dev-apps/prod, windows-dev-apps-system-services-dev/tech

#470 Update linux-recovery-cannot-start-file-system-errors.md
  support/azure/virtual-machines/linux-recovery-cannot-start-file-system-errors.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#472 Update update-statements-replicated-as-delete-insert.md
  support/sql/replication/update-statements-replicated-as-delete-insert.md
Labels: do-not-merge, Change sent to author, sql/prod, sql-engine-replication-changetracking-cdc/tech

#476 Update client-side-caching-command-line-options-v1dot1.md
  support/windows-client/networking/client-side-caching-command-line-options-v1dot1.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-networking/tech

#477 Update service-connection-tool-not-download-updates.md
  support/mem/configmgr/service-connection-tool-not-download-updates.md
Labels: do-not-merge, Change sent to author, TriageNeeded, configuration-manager/prod

#478 Update ribbon-issues-button-hidden.md
  support/power-platform/power-apps/ribbon-issues-button-hidden.md
Labels: do-not-merge, Change sent to author, powerapps-ribbons-commanding/subsvc, powerapps/svc
