Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2022-03, with the labels that each got.

#481 Crowdstrike Support Case and various quality updates
  support/sql/performance/performance-consistency-issues-filter-drivers-modules.md
Labels: do-not-merge, Change sent to author, sql/prod, sql-engine-performance/tech

#483 Separate commands from text
  support/windows-server/performance/toggle-terminal-services-application-server-mode.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-performance/tech

#486 Remove quotes in command
  support/windows-server/deployment/cant-open-exe-files.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-deployment/tech

#489 Update remove-dpmdb-vmware-protection.md
  support/system-center/dpm/remove-dpmdb-vmware-protection.md
Labels: do-not-merge, Change sent to author, TriageNeeded, system-center/prod, data-protection-manager/tech

#491 Update internet-explorer-edge-open-connect-corporate-public-network.md
  support/windows-client/networking/internet-explorer-edge-open-connect-corporate-public-network.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-networking/tech

#492 Update performance-diagnostics.md
  support/azure/virtual-machines/performance-diagnostics.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc

#495 Update windows-search-performance-issues.md
  support/windows-client/shell-experience/windows-search-performance-issues.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-shell-experience/tech

#498 disable-internet-explorer-windows.md: Make method 3 more straightforward
  support/developer/browsers/installation/disable-internet-explorer-windows.md
Labels: do-not-merge, Change sent to author, TriageNeeded, internet-explorer/prod, internet-explorer-installation/tech

#505 Remove trailing slash in app authentication URL
  support/azure/active-directory/error-code-AADSTS50011-redirect-uri-mismatch.md
Labels: ready-to-merge, Change sent to author, active-directory/svc, app-mgmt/subsvc

#508 Fixed typo UPD to UDP
  support/windows-client/networking/internet-firewalls-prevent-browsing-file-sharing.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-networking/tech
