Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2023-06, with the labels that each got.

#1191 Update welcome-sql-server.yml
  support/sql/welcome-sql-server.yml
Labels: do-not-merge, needs-human-review, review-team-triage

#1194 Update extranet-smart-lockout-feature.md
  support/windows-server/identity/extranet-smart-lockout-feature.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech, qualifies-for-auto-merge

#1195 Update fail-to-generate-eft-file-for-payables-management.md
  support/dynamics/gp/fail-to-generate-eft-file-for-payables-management.md
Labels: do-not-merge, Change sent to author, dynamics-gp/prod, qualifies-for-auto-merge

#1197 Remove personal musings and uncertain language from official doc
  support/windows-server/remote/printer-redirection-not-work.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-rds/tech, qualifies-for-auto-merge

#1170 [Hot Reload] Document that XAML Hot Reloading is not supported for admin apps
  support/developer/visualstudio/tools-utilities/xaml-hot-reload-troubleshooting.md
Labels: do-not-merge, Change sent to author, visual-studio-family/prod, qualifies-for-auto-merge, vs-tools-utilities/tech

#1199 Update Powershell commands in windows-update-issues-troubleshooting.md
  support/windows-client/deployment/windows-update-issues-troubleshooting.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-deployment/tech, qualifies-for-auto-merge

#1205 Add error 4 for contained AG SQL login
  support/sql/releases/sqlserver-2022/errors-apply-cu-contained-availability-group.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc, sql-releases/subsvc

#1209 Azure VMware Support addendum
  support/sql/general/support-policy-hardware-virtualization-product.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc, sql-general/subsvc

#1208 Added SQL on VMware and AVS support
  support/sql/general/support-policy-sql-server.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc, sql-general/subsvc
