Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2023-11, with the labels that each got.

#1296 Update set-up-certificate-based-authentication-across-forest-without-…
  support/windows-server/identity/set-up-certificate-based-authentication-across-forest-without-trust.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech, qualifies-for-auto-merge

#1298 Update dependency-availability-by-country.md
  support/azure/general/dependency-availability-by-country.md
Labels: do-not-merge, Change sent to author, azure-common-issues-support/svc, qualifies-for-auto-merge

#1309 fix: update aks nodepool name length
  support/azure/azure-kubernetes/aks-common-issues-faq.yml
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc, common-issues/subsvc

#1313 Update l-root-server IP
  support/windows-server/networking/troubleshoot-dns-name-resolution.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, qualifies-for-auto-merge

#1319 Update clm-http-bad-request.md
  support/developer/webapps/iis/health-diagnostic-performance/clm-http-bad-request.md
Labels: do-not-merge, needs-human-review, Change sent to author, iis/prod, iis-health-diagnostic-performance/tech

#1320 Update troubleshooting-forms-authentication.md
  support/developer/webapps/iis/www-authentication-authorization/troubleshooting-forms-authentication.md
Labels: do-not-merge, Change sent to author, iis/prod, iis-www-authentication-authorization/tech, qualifies-for-auto-merge

#1318 Update troubleshooting-502-errors-in-arr.md
  support/developer/webapps/iis/application-request-routing/troubleshooting-502-errors-in-arr.md
Labels: do-not-merge, Change sent to author, iis/prod, qualifies-for-auto-merge, iis-application-request-routing/tech

#1316 Update files-troubleshoot-smb-connectivity.md
  support/azure/azure-storage/files-troubleshoot-smb-connectivity.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-file-storage/svc

#1323 Fix strange wrong info
  support/windows-server/performance/stop-7f-0x00000008-double-fault-error.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-performance/tech, qualifies-for-auto-merge
