Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2023-07, with the labels that each got.

#1215 Update replication-error-8606.md
  support/windows-server/identity/replication-error-8606.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech, qualifies-for-auto-merge

#1216 Adding a link to SQL Server Product docs home page.
  support/sql/welcome-sql-server.yml
Labels: do-not-merge, needs-human-review, Change sent to author, sql/svc

#1213 Update set-up-troubleshoot-linked-server.md
  support/sql/database-engine/linked-servers/set-up-troubleshoot-linked-server.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc, sql-engine-linked-server/subsvc

#1217 Removed ** syntax from View Current Policy
  support/windows-server/identity/view-set-ldap-policy-using-ntdsutil.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech, qualifies-for-auto-merge

#1202 Update troubleshoot-conditional-access.md
  support/mem/intune/device-protection/troubleshoot-conditional-access.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, qualifies-for-auto-merge, intune-device-protection/subsvc

#1223 Update read-write-text-file.md
  support/developer/visualstudio/csharp/language-compilers/read-write-text-file.md
Labels: do-not-merge, Change sent to author, .net/prod, csharp-language-compilers/tech, qualifies-for-auto-merge

#1224 Update network-related-or-instance-specific-error-occurred-while-esta…
  support/sql/database-engine/connect/network-related-or-instance-specific-error-occurred-while-establishing-connection.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc, sql-engine-connectivity/subsvc

#1222 Update file-sync-troubleshoot-sync-errors.md
  support/azure/azure-storage/file-sync-troubleshoot-sync-errors.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge

#1221 Update difference-must-be-zero-before-reconcile-error-when-reconcilin…
  support/dynamics/gp/difference-must-be-zero-before-reconcile-error-when-reconciling-checkbook.md
Labels: do-not-merge, Change sent to author, dynamics-gp/prod, qualifies-for-auto-merge

#1220 Update fail-run-large-batch-sql-statements.md
  support/sql/connect/fail-run-large-batch-sql-statements.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc, sql-client-prog/subsvc

#1226 Update file-sync-troubleshoot-sync-errors.md
  support/azure/azure-storage/file-sync-troubleshoot-sync-errors.md
Labels: do-not-merge, Change sent to author, storage/svc, files/subsvc, qualifies-for-auto-merge

#1232 Update import-windows-autopilot-device-csv-files-errors.md
  support/mem/intune/device-enrollment/import-windows-autopilot-device-csv-files-errors.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, intune-device-enrollment/subsvc, qualifies-for-auto-merge

#1234 Update cluster-node-virtual-machine-failed-state.md
  support/azure/azure-kubernetes/cluster-node-virtual-machine-failed-state.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge, common-issues/subsvc

#1235 Update task-manager-display-incorrect-memory-info.md
  support/windows-server/performance/task-manager-display-incorrect-memory-info.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-performance/tech, qualifies-for-auto-merge
