Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2023-02, with the labels that each got.

#911 Fix Embed Link
  support/azure/app-service/troubleshoot-instance-related-issues-on-Azure-app-service.md
Labels: do-not-merge, Change sent to author, app-service/svc, qualifies-for-auto-merge

#898 adding note on supported IGMP Version
  support/windows-server/networking/configure-network-to-support-nlb-operation-mode.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, qualifies-for-auto-merge

#882 Update tcpip-performance-known-issues.md
  support/windows-server/networking/tcpip-performance-known-issues.md
Labels: do-not-merge, needs-human-review, Change sent to author, windows-server/prod, networking/tech

#883 Update support-and-installation-instructions-for-amd-epyc-9004-series…
  support/windows-server/virtualization/support-and-installation-instructions-for-amd-epyc-9004-series-server-processors.md
Labels: do-not-merge, Change sent to author, windows-server/prod, hyper-v/tech, qualifies-for-auto-merge

#916 Typo `UDPATE`→`UPDATE`
  support/developer/visualstudio/cpp/language-compilers/update-database-sqldataadapter.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, qualifies-for-auto-merge, visual-cpp-language-compilers/tech

#922 Typo "Azure compute emulator"→"Azure Compute Emulator"
  support/azure/cloud-services/role-startup-failure.md
Labels: do-not-merge, Change sent to author, cloud-services/svc, qualifies-for-auto-merge, troubleshoot-extended-support/subsvc

#919 Update common-errors-creating-and-assigning-flow-approvals.md
  support/power-platform/power-automate/common-errors-creating-and-assigning-flow-approvals.md
Labels: do-not-merge, Change sent to author, power-automate-flows/subsvc, power-automate/svc, qualifies-for-auto-merge

#928 Change topic type in secondary-installer-third-party-app.md
  support/developer/visualstudio/installation/secondary-installer-third-party-app.md
Labels: do-not-merge, Change sent to author, visual-studio-family/prod, qualifies-for-auto-merge, vs-install/tech

#930 Update troubleshoot-os-4kb-disk-sector-size.md
  support/sql/database-engine/database-file-operations/troubleshoot-os-4kb-disk-sector-size.md
Labels: do-not-merge, Change sent to author, sql/prod

#876 Update error-2767-query-secondary-replica-fails.md
  support/sql/database-engine/availability-groups/error-2767-query-secondary-replica-fails.md
Labels: do-not-merge, Change sent to author, sql/prod, qualifies-for-auto-merge

#910 Add note about rebooting after registry change
  support/sql/database-engine/database-file-operations/troubleshoot-os-4kb-disk-sector-size.md
Labels: do-not-merge, Change sent to author, sql/prod, qualifies-for-auto-merge

#944 Update replication-failures-delete-active-directory-objects.md
  support/windows-server/identity/replication-failures-delete-active-directory-objects.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech, qualifies-for-auto-merge

#939 ConfigIsolationEnabled: remove reference to unsupported and broken flag
  support/developer/webapps/iis/general/use-registry-keys.md
Labels: do-not-merge, Change sent to author, iis/prod, qualifies-for-auto-merge, iis-general/tech

#957 Update identify-memory-saturation-aks.md
  support/azure/azure-kubernetes/identify-memory-saturation-aks.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, troubleshoot-cluster-performance/subsvc, qualifies-for-auto-merge

#968 Update for creation and rotation
  support/sql/releases/sqlserver-2022/database-accessibility-issues-high-volume-customer-workloads.md
Labels: do-not-merge, Change sent to author, sql/prod, qualifies-for-auto-merge

#959 Update azure-ad-ipv6-support.md
  support/azure/active-directory/azure-ad-ipv6-support.md
Labels: do-not-merge, Change sent to author, active-directory/svc, qualifies-for-auto-merge, aad-general/subsvc

#978 regkey.exe replaced with reg.exe
  support/windows-server/user-profiles-and-logon/cached-domain-logon-information.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-user-profiles/tech, qualifies-for-auto-merge

#982 Update dsql-perf-cci-health.md - fixed not working query
  support/azure/synapse-analytics/dedicated-sql/dsql-perf-cci-health.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, synapse-analytics/svc
