Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2023-10, with the labels that each got.

#1279 Update troubleshoot-failed-requests-using-tracing-in-iis-85.md
  support/developer/webapps/iis/health-diagnostic-performance/troubleshoot-failed-requests-using-tracing-in-iis-85.md
Labels: do-not-merge, needs-human-review, Change sent to author, iis/prod, iis-health-diagnostic-performance/tech

#1271 Add files via upload
  support/dynamics-365/commerce/pricing-discounts-taxes/price-track-issues.md
  support/dynamics-365/commerce/toc.yml
  support/dynamics-365/commerce/welcome-commerce.yml
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-365-commerce/svc

#1282 Add websocket support to nginx config
  support/developer/webapps/aspnetcore/practice-troubleshoot-linux/2-2-install-nginx-configure-it-reverse-proxy.md
Labels: do-not-merge, Change sent to author, aspnet-core/prod, aspnetcore-practice-troubleshoot-linux/tech, qualifies-for-auto-merge

#1283 Update decrease-the-number-of-decimal-places.md
  support/dynamics/gp/decrease-the-number-of-decimal-places.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/prod

#1263 Update create-swap-file-linux-vm.md
  support/azure/virtual-machines/create-swap-file-linux-vm.md
Labels: do-not-merge, needs-human-review, Change sent to author, virtual-machines/svc, vm-linux-setup-configuration/subsvc

#1206 Revise solution for the scenario of getting the error of validation.
  support/azure/virtual-machines/troubleshoot-vm-by-use-nested-virtualization.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-backup-restore/subsvc, qualifies-for-auto-merge

#1290 Update use-proxy-servers-with-ie.md
  support/developer/browsers/connectivity-navigation/use-proxy-servers-with-ie.md
Labels: do-not-merge, Change sent to author, internet-explorer/prod, internet-explorer-connectivity-navigation/tech, qualifies-for-auto-merge

#1294 Update wsus-maintenance-guide.md
  support/mem/configmgr/update-management/wsus-maintenance-guide.md
Labels: do-not-merge, Change sent to author, configuration-manager/prod, qualifies-for-auto-merge, sw-update-mgmt/tech

#1292 Update fail-connect-azure-information-protection-powershell.md
  support/azure/active-directory/fail-connect-azure-information-protection-powershell.md
Labels: do-not-merge, Change sent to author, active-directory/svc, enterprise-users/subsvc, qualifies-for-auto-merge

#1285 [21 migrated D365 Guides and Remote Assist articles] Add guides and ra
  support/docfx.json
  support/dynamics-365/guides/hololens-app/cant-make-video-call.md
  support/dynamics-365/guides/hololens-app/device-license-cant-find-guide.md
  support/dynamics-365/guides/hololens-app/device-license-sign-in-error.md
  support/dynamics-365/guides/hololens-app/media/step-content-fail-load/step-content-failed-to-load-error.png
  support/dynamics-365/guides/hololens-app/media/step-content-warning-memory/high-step-memory-usage-warning.png
  support/dynamics-365/guides/hololens-app/step-content-fail-load.md
  support/dynamics-365/guides/hololens-app/step-content-hazard.md
  support/dynamics-365/guides/hololens-app/step-content-warning-memory.md
  support/dynamics-365/guides/includes/hololens-memory-limit.md
  support/dynamics-365/guides/install-migrate/failed-to-import-microsoft-xrm-data-powershell.md
  support/dynamics-365/guides/install-migrate/install-update-fails.md
  support/dynamics-365/guides/install-migrate/media/failed-to-import-microsoft-xrm-data-powershell/migration-unblock.PNG
  support/dynamics-365/guides/install-migrate/media/install-update-fails/dynamics-365-guides-license.PNG
  support/dynamics-365/guides/install-migrate/sign-in-error.md
  support/dynamics-365/guides/pc-app/anchors-3d-model-conversion-fails.md
  support/dynamics-365/guides/pc-app/fail-to-detect-object-anchor.md
  support/dynamics-365/guides/pc-app/media/fail-to-detect-object-anchor/object-anchor-chair-properties.png
  support/dynamics-365/guides/toc.yml
  support/dynamics-365/guides/welcome-guides.yml
  support/dynamics-365/remote-assist/model-driven-app/can't-find-model-driven-app.md
  support/dynamics-365/remote-assist/model-driven-app/troubleshoot-model-driven-app-installation.md
  support/dynamics-365/remote-assist/remote-assist-app/assets-not-appear-or-expected.md
  support/dynamics-365/remote-assist/remote-assist-app/cannot-sign-in-to-remote-assist.md
  support/dynamics-365/remote-assist/remote-assist-app/contacts-not-appear-or-expected.md
  support/dynamics-365/remote-assist/remote-assist-app/mixed-reality-toolbar-not-show-on-teams-call.md
  support/dynamics-365/remote-assist/remote-assist-app/no-assets-admin.md
  support/dynamics-365/remote-assist/remote-assist-app/no-incoming-call-notification.md
  support/dynamics-365/remote-assist/remote-assist-app/remote-assist-stops-responding.md
  support/dynamics-365/remote-assist/toc.yml
  support/dynamics-365/remote-assist/welcome-remote-assist.yml
Labels: do-not-merge, needs-human-review, review-team-triage

#1297 Update make-class-foreach-statement.md
  support/developer/visualstudio/csharp/language-compilers/make-class-foreach-statement.md
Labels: do-not-merge, Change sent to author, .net/prod, csharp-language-compilers/tech, qualifies-for-auto-merge
