Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2023-08, with the labels that each got.

#1233 #Update difference-must-be-zero-before-reconcile-error-when-reconcilin…
  support/dynamics/gp/difference-must-be-zero-before-reconcile-error-when-reconciling-checkbook.md
Labels: do-not-merge, Change sent to author, dynamics-gp/prod, qualifies-for-auto-merge

#1238 Missing letter in dcdiag parameter
  support/windows-server/identity/replication-error-8453.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech, qualifies-for-auto-merge

#1218 Update error-code-outboundconnfailvmextensionerror.md
  support/azure/azure-kubernetes/error-code-outboundconnfailvmextensionerror.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge, troubleshoot-create-operations/subsvc

#1237 Fixing the title.
  support/sql/welcome-sql-server.yml
Labels: do-not-merge, needs-human-review, Change sent to author, sql/svc

#1231 Fix folder path to Azure DevOps Server
  support/azure/devops/antivirus-scanning-exclusions.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-devops-server/svc

#1239 Update 701-error-large-batches.md
  support/sql/database-engine/performance/701-error-large-batches.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc, sql-engine-performance/subsvc

#1240 v-chgri-commerce-ts-mig_1
  support/dynamics-365/commerce/customer-accounts-loyalty/email-not-sent-when-new-customer-created.md
  support/dynamics-365/commerce/toc.yml
  support/dynamics-365/commerce/welcome-commerce.yml
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-365-commerce/svc

#1242 Added Kernel Mode Authentication settings
  support/system-center/scom/http-500-error-connecting-to-web-console.md
Labels: do-not-merge, Change sent to author, system-center/prod, operations-manager/tech, qualifies-for-auto-merge

#1245 Fixed folder paths in antivirus-scanning-exclusions.md
  support/azure/devops/antivirus-scanning-exclusions.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-devops-server/svc

#1243 Update foreach loop to use correct indentation
  support/developer/visualstudio/csharp/language-compilers/store-custom-information-config-file.md
Labels: do-not-merge, Change sent to author, .net/prod, csharp-language-compilers/tech, qualifies-for-auto-merge

#1248 Update sql-server-upgrade-failed-error-15173.md
  support/sql/database-engine/install/windows/sql-server-upgrade-failed-error-15173.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql-engine-install/subsvc, sql/svc

#1250 Update credssp-encryption-oracle-remediation.md
  support/azure/virtual-machines/credssp-encryption-oracle-remediation.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-cannot-connect/subsvc, qualifies-for-auto-merge

#1251 Update correct indentation for foreach loop on step 15
  support/developer/visualstudio/csharp/language-compilers/store-custom-information-config-file.md
Labels: do-not-merge, Change sent to author, .net/prod, csharp-language-compilers/tech, qualifies-for-auto-merge

#1255 Update createprocesswithlogonw-fails-microsoft-entra-id-account.md
  support/windows/win32/createprocesswithlogonw-fails-microsoft-entra-id-account.md
Labels: do-not-merge, Change sent to author, windows-dev-apps/prod, qualifies-for-auto-merge, windows-dev-apps-desktop-app-ui-dev/tech
