Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2023-09, with the labels that each got.

#1257 Update troubleshooting-502-errors-in-arr.md
  support/developer/webapps/iis/application-request-routing/troubleshooting-502-errors-in-arr.md
Labels: do-not-merge, Change sent to author, iis/prod, qualifies-for-auto-merge, iis-application-request-routing/tech

#1254 Update violation-of-primary-key-or-dbms-2627-error.md
  support/dynamics/gp/violation-of-primary-key-or-dbms-2627-error.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/prod

#1253 Update how-to-email-customer-statements.md
  support/dynamics/gp/how-to-email-customer-statements.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/prod

#1262 Update portqry-command-line-port-scanner-v2.md
  support/windows-server/networking/portqry-command-line-port-scanner-v2.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, qualifies-for-auto-merge

#1266 Update move-event-viewer-log-files.md
  support/windows-server/application-management/move-event-viewer-log-files.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-application-compatibility/tech, qualifies-for-auto-merge

#1269 fix "on-premises"
  support/windows-server/remote/remote-desktop-ip-virtualization.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-rds/tech, qualifies-for-auto-merge

#1272 Update manage-orphan-flow-when-owner-leaves-org.md
  support/power-platform/power-automate/manage-orphan-flow-when-owner-leaves-org.md
Labels: do-not-merge, Change sent to author, power-automate-flows/subsvc, power-automate/svc, qualifies-for-auto-merge

#1276 Update headline "Time stamps were lost in copying files from Windows to Linux" in files-troubleshoot-linux-smb.md
  support/azure/azure-storage/files-troubleshoot-linux-smb.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-file-storage/svc
