Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2023-12, with the labels that each got.

#1328 Update verify-first-party-apps-sign-in.md
  support/azure/active-directory/verify-first-party-apps-sign-in.md
Labels: do-not-merge, Change sent to author, active-directory/svc, compliance/subsvc, qualifies-for-auto-merge

#1330 Update troubleshoot-ad-fs-sso-issue.md
  support/windows-server/identity/troubleshoot-ad-fs-sso-issue.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-active-directory/tech, qualifies-for-auto-merge

#1329 New Error Code ECS_E_STABLEVERSION_SVID_CHECK_FAILED
  support/azure/azure-storage/file-sync-troubleshoot-cloud-tiering.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-file-storage/svc

#1333 Update allocation-failure.md
  support/azure/virtual-machines/allocation-failure.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-cannot-start-stop/subsvc, qualifies-for-auto-merge

#1335 Update files-troubleshoot-smb-connectivity.md
  support/azure/azure-storage/files-troubleshoot-smb-connectivity.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-file-storage/svc

#1336 Update error-code-poddrainfailure.md
  support/azure/azure-kubernetes/error-code-poddrainfailure.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge, troubleshoot-upgrade-operations/subsvc

#1334 Update wrong-values-amounts-since-last-closed.md
  support/dynamics/gp/wrong-values-amounts-since-last-closed.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/prod

#1338 Updated the article for inclusiveness
  support/mem/intune/device-enrollment/windows-user-cannot-enroll.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, intune-device-enrollment/subsvc, qualifies-for-auto-merge

#1339 Update troubleshoot-never-ending-query.md
  support/sql/database-engine/performance/troubleshoot-never-ending-query.md
Labels: do-not-merge, Change sent to author, sql/svc, sql-engine-performance/subsvc
