Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2023-05, with the labels that each got.

#1104 Removed incorrect tick marks on line 79
  support/developer/visualstudio/csharp/language-compilers/sort-listview-by-column.md
Labels: do-not-merge, Change sent to author, .net/prod, csharp-language-compilers/tech, qualifies-for-auto-merge

#1105 Removed back ticks in line 74
  support/developer/visualstudio/csharp/language-compilers/sort-listview-by-column.md
Labels: do-not-merge, Change sent to author, .net/prod, csharp-language-compilers/tech, qualifies-for-auto-merge

#1127 RTM for SQL 2016 and SQL 2017 is missing
  support/sql/releases/download-and-install-latest-updates.md
Labels: do-not-merge, Change sent to author, sql/prod, qualifies-for-auto-merge

#1100 Update long-spin-wait-loops-high-cpu.md
  support/developer/dotnet/framework/general/long-spin-wait-loops-high-cpu.md
Labels: do-not-merge, Change sent to author, .net/prod, dotnet-general/tech

#1121 Update common issues to highlight the ECS Show
  support/power-platform/power-apps/isolate-and-troubleshoot-common-issues/common-issues-and-resolutions.md
Labels: do-not-merge, Change sent to author, powerapps/svc, qualifies-for-auto-merge, powerapps-common-issues/subsvc

#1132 Update of build number and missing patches.
  support/sql/releases/download-and-install-latest-updates.md
Labels: do-not-merge, Change sent to author, sql/prod, qualifies-for-auto-merge

#1129 Update verify-first-party-apps-sign-in.md
  support/azure/active-directory/verify-first-party-apps-sign-in.md
Labels: do-not-merge, Change sent to author, active-directory/svc, compliance/subsvc, qualifies-for-auto-merge

#1134 Revert "Update verify-first-party-apps-sign-in.md"
  support/azure/active-directory/verify-first-party-apps-sign-in.md
Labels: do-not-merge, Change sent to author, active-directory/svc, compliance/subsvc, qualifies-for-auto-merge

#1119 Update configure-dtc-to-work-through-firewalls.md
  support/windows-server/application-management/configure-dtc-to-work-through-firewalls.md
Labels: do-not-merge, needs-human-review, Change sent to author, windows-server/prod, windows-server-application-compatibility/tech

#1103 Update biztalkmsgboxdb-connection-issue.md
  support/developer/biztalk/management-operations/biztalkmsgboxdb-connection-issue.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, biztalk-server/prod, biztalk-server-management-operations/tech

#1143 Update troubleshoot-live-migration-guidance.md
  support/windows-server/virtualization/troubleshoot-live-migration-guidance.md
Labels: do-not-merge, Change sent to author, windows-server/prod, hyper-v/tech, qualifies-for-auto-merge

#1147 AB#175047 maintain-troubleshoot-database.md
  support/developer/biztalk/management-operations/maintain-troubleshoot-database.md
Labels: do-not-merge, needs-human-review

#1137 Update auto recovery
  support/azure/virtual-machines/understand-vm-reboot.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-cannot-start-stop/subsvc, qualifies-for-auto-merge

#1154 DistributionPoint typos
  support/azure/active-directory/certificate-based-authenticate-issue.md
Labels: do-not-merge, Change sent to author, active-directory/svc, enterprise-users/subsvc, qualifies-for-auto-merge

#1158 Fix Typo
  support/mem/intune/certificates/troubleshoot-pkcs-certificate-profiles.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, qualifies-for-auto-merge, intune-certificates/subsvc

#1159 Update common-errors-creating-and-assigning-flow-approvals.md
  support/power-platform/power-automate/common-errors-creating-and-assigning-flow-approvals.md
Labels: do-not-merge, Change sent to author, power-automate-flows/subsvc, power-automate/svc, qualifies-for-auto-merge

#1164 added some spaces to improve readability
  support/azure/cloud-services/support-linux-open-source-technology.md
Labels: do-not-merge, Change sent to author, cloud-services/svc, qualifies-for-auto-merge, reference/subsvc

#1152 Update windows-boot-failure.md
  support/azure/virtual-machines/windows-boot-failure.md
Labels: do-not-merge, needs-human-review, Change sent to author, virtual-machines/svc, vm-cannot-start-stop/subsvc

#1171 Escape a \ so it will be displayed in the docs, fixing broken documentation.
  support/windows-client/networking/change-csc-folder-location-with-cachelocation-registry.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-networking/tech, qualifies-for-auto-merge

#1173 Remove an extra space
  support/dynamics/gp/a-po-receipt-number-could-not-be-assigned.md
Labels: do-not-merge, Change sent to author, dynamics-gp/prod, qualifies-for-auto-merge

#1175 Update deploy-custom-cipher-suite-ordering.md
  support/windows-server/windows-security/deploy-custom-cipher-suite-ordering.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-security/tech, qualifies-for-auto-merge

#1181 Update a-transaction-cannot-fall-a-fiscal-year.md
  support/dynamics/gp/a-transaction-cannot-fall-a-fiscal-year.md
Labels: do-not-merge

#1184 Remove an extra space
  support/dynamics/gp/a-transaction-cannot-fall-a-fiscal-year.md
Labels: do-not-merge, Change sent to author, dynamics-gp/prod, qualifies-for-auto-merge

#1188 Update check-if-gateway-is-the-right-region.md
  support/power-platform/power-automate/check-if-gateway-is-the-right-region.md
Labels: do-not-merge, Change sent to author, power-automate-flows/subsvc, power-automate/svc, qualifies-for-auto-merge
