Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2023-01, with the labels that each got.

#827 Updated titles to reflect the rest of the document
  support/azure/virtual-machines/reset-network-interface.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-cannot-connect/subsvc

#829 Update dependency-availability-by-country.md
  support/azure/general/dependency-availability-by-country.md
Labels: do-not-merge, Change sent to author, azure-common-issues-support/svc

#825 Update troubleshoot-high-cpu-usage-issues.md
  support/sql/database-engine/performance/troubleshoot-high-cpu-usage-issues.md
Labels: Change sent to author, sql/prod, sql-engine-performance/tech

#844 Update troubleshoot-key-vault-csi-secrets-store-csi-driver.md
  support/azure/azure-kubernetes/troubleshoot-key-vault-csi-secrets-store-csi-driver.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#843 Update error-code-poddrainfailure.md
  support/azure/azure-kubernetes/error-code-poddrainfailure.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge, troubleshoot-upgrade-operations/subsvc

#842 Update resolve-az-aks-command-invoke-failures.md
  support/azure/azure-kubernetes/resolve-az-aks-command-invoke-failures.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge, common-issues/subsvc

#835 File Description needs update
  support/azure/virtual-machines/allocation-failure.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-cannot-start-stop/subsvc, qualifies-for-auto-merge

#849 Update fail-to-mount-azure-disk-volume.md
  support/azure/azure-kubernetes/fail-to-mount-azure-disk-volume.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, troubleshoot-azure-storage-issues/subsvc, qualifies-for-auto-merge

#846 Update cannot-pull-image-from-acr-to-aks-cluster.md
  support/azure/azure-kubernetes/cannot-pull-image-from-acr-to-aks-cluster.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge

#814 Replace obsolete linux agent ver. description
  support/azure/virtual-machines/support-extensions-agent-version.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-extensions-not-operating/subsvc

#856 Update support-and-installation-instructions-for-amd-epyc-9004-series…
  support/windows-server/virtualization/support-and-installation-instructions-for-amd-epyc-9004-series-server-processors.md
Labels: do-not-merge, Change sent to author, windows-server/prod, hyper-v/tech

#853 Update divide-by-zero-error.md
  support/dynamics/gp/divide-by-zero-error.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/prod

#852 Update change-the-perpetual-valuation-method.md
  support/dynamics/gp/change-the-perpetual-valuation-method.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/prod

#868 Update troubleshoot-aad-connect-objects-attributes.md
  support/azure/active-directory/troubleshoot-aad-connect-objects-attributes.md
Labels: do-not-merge, Change sent to author, active-directory/svc, enterprise-users/subsvc, qualifies-for-auto-merge

#899 Update create-swap-file-linux-vm.md
  support/azure/virtual-machines/create-swap-file-linux-vm.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-linux-setup-configuration/subsvc, qualifies-for-auto-merge

#901 Update create-swap-file-linux-vm.md
  support/azure/virtual-machines/create-swap-file-linux-vm.md
Labels: do-not-merge, needs-human-review, Change sent to author, virtual-machines/svc, vm-linux-setup-configuration/subsvc

#880 Fix typo `System.Data.Sqlcient`
  support/sql/database-engine/connect/timeout-expired-error.md
Labels: do-not-merge, Change sent to author, sql/prod, qualifies-for-auto-merge

#887 Fix a mistype for Service Principals
  support/azure/active-directory/troubleshoot-adding-apps.md
Labels: do-not-merge, Change sent to author, active-directory/svc, app-mgmt/subsvc, qualifies-for-auto-merge

#832 Update server-software-support.md
  support/azure/virtual-machines/server-software-support.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-support-statements/subsvc

#891 Update transfer-logins-passwords-between-instances.md
  support/sql/database-engine/security/transfer-logins-passwords-between-instances.md
Labels: do-not-merge, Change sent to author, sql/prod, qualifies-for-auto-merge
