Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2023-04, with the labels that each got.

#1053 Update troubleshoot-rds-licensing-guidance.md
  support/windows-server/remote/troubleshoot-rds-licensing-guidance.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-rds/tech, qualifies-for-auto-merge

#1060 Update read-xml-data-from-url.md
  support/developer/visualstudio/csharp/language-compilers/read-xml-data-from-url.md
Labels: do-not-merge, Change sent to author, .net/prod, csharp-language-compilers/tech, qualifies-for-auto-merge

#1061 Update toc.yml
  support/azure/virtual-machines/toc.yml
Labels: do-not-merge, needs-human-review, Change sent to author

#1072 Update understand-vm-reboot.md
  support/azure/virtual-machines/understand-vm-reboot.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-cannot-start-stop/subsvc, qualifies-for-auto-merge

#1065 Update create-swap-file-linux-vm.md
  support/azure/virtual-machines/create-swap-file-linux-vm.md
Labels: do-not-merge, needs-human-review, Change sent to author, virtual-machines/svc, vm-linux-setup-configuration/subsvc

#1054 Update vm-inspector-azure-virtual-machines.md
  support/azure/virtual-machines/vm-inspector-azure-virtual-machines.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, qualifies-for-auto-merge, vm-troubleshooting-tools/subsvc

#1077 Update error-code-AADSTS50011-redirect-uri-mismatch.md
  support/azure/active-directory/error-code-AADSTS50011-redirect-uri-mismatch.md
Labels: do-not-merge, Change sent to author, active-directory/svc, app-mgmt/subsvc, qualifies-for-auto-merge

#1088 Fixed spelling in fail-to-turn-off-computer-from-audit-mode.md
  support/windows-client/deployment/fail-to-turn-off-computer-from-audit-mode.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-deployment/tech, qualifies-for-auto-merge

#1090 Update support-32-bit-operating-systems-virtual-machines.md
  support/azure/virtual-machines/support-32-bit-operating-systems-virtual-machines.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-support-statements/subsvc, qualifies-for-auto-merge

#1113 Update adls-gen2-sticky-bit-403-access-denied.md
  support/azure/azure-storage/adls-gen2-sticky-bit-403-access-denied.md
Labels: do-not-merge, Change sent to author, storage/svc, qualifies-for-auto-merge

#1091 Update segment-no-results.md
  support/dynamics-365/customer-insights/insights/segment-no-results.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, d365-ci-insights/subsvc, customer-insights/svc

#1116 added windows 10 22h2 admx link
  support/windows-client/group-policy/create-and-manage-central-store.md
Labels: do-not-merge, Change sent to author, windows-client/prod, windows-client-group-policy/tech, qualifies-for-auto-merge
