Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2024-08, with the labels that each got.

#1553 Update troubleshoot-deployment-new-vm-linux.md
  support/azure/virtual-machines/linux/troubleshoot-deployment-new-vm-linux.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, qualifies-for-auto-merge

#1556 Update use-cipher-to-overwrite-deleted-data.md
  support/windows-server/certificates-and-public-key-infrastructure-pki/use-cipher-to-overwrite-deleted-data.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1554 Update a-fully-applied-document-open-status.md
  support/dynamics/gp/a-fully-applied-document-open-status.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1546 Update serial-console-enable-disable.md
  support/azure/virtual-machines/windows/serial-console-enable-disable.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, qualifies-for-auto-merge

#1522 Update failed-to-get-azure-devops-service-access-token.md
  support/azure/devops/failed-to-get-azure-devops-service-access-token.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, ts-pipelines/subsvc, azure-devops/svc

#1558 Update extend-stand-alone-tiered-storage-spaces.md
  support/windows-server/backup-and-storage/extend-stand-alone-tiered-storage-spaces.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1560 Update disk-event-id-154.md
  support/windows-server/backup-and-storage/disk-event-id-154.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1559 Update problem-nodes-failover-cluster.md
  support/windows-server/high-availability/problem-nodes-failover-cluster.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1563 Update cannot-uninstall-apple-app-store-apps.md
  support/mem/intune/app-management/cannot-uninstall-apple-app-store-apps.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, qualifies-for-auto-merge

#1561 Nginx quick fix
  support/developer/webapps/aspnetcore/practice-troubleshoot-linux/2-2-install-nginx-configure-it-reverse-proxy.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aspnet-core/svc

#1571 Update troubleshoot-cluster-connection-issues-api-server.md
  support/azure/azure-kubernetes/connectivity/troubleshoot-cluster-connection-issues-api-server.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge
