Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2024-10, with the labels that each got.

#1637 Update traffic-between-node-pools-is-blocked.md
  support/azure/azure-kubernetes/connectivity/traffic-between-node-pools-is-blocked.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1636 Update create-and-manage-central-store.md
  support/windows-client/group-policy/create-and-manage-central-store.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc

#1638 Update understand-vm-reboot.md
  support/azure/virtual-machines/windows/understand-vm-reboot.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1633 Add resolution for AccountNotOnboarded error
  support/mem/intune/device-enrollment/troubleshoot-ios-enrollment-errors.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, qualifies-for-auto-merge

#1631 Update error-0x800f0922-uninstall-role-feature.md
  support/windows-server/installing-updates-features-roles/error-0x800f0922-uninstall-role-feature.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1627 Update slow-smb-file-transfer.md
  support/windows-server/networking/slow-smb-file-transfer.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1640 Update cluster-autoscaler-fails-to-scale.md
  support/azure/azure-kubernetes/create-upgrade-delete/cluster-autoscaler-fails-to-scale.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1644 Update error-code-subnetisfull-upgrade.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-subnetisfull-upgrade.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1628 Update upgrade-fails-because-of-nsg-rules.md
  support/azure/azure-kubernetes/create-upgrade-delete/upgrade-fails-because-of-nsg-rules.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1641 Update node-not-ready-custom-script-extension-errors.md
  support/azure/azure-kubernetes/availability-performance/node-not-ready-custom-script-extension-errors.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1649 Update fix-windows-update-errors.md
  support/windows-server/installing-updates-features-roles/fix-windows-update-errors.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1600 Update error-code-requestdisallowedbypolicy.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-requestdisallowedbypolicy.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1643 Update dependency-availability-by-country.md
  support/azure/general/dependency-availability-by-country.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-common-issues-support/svc

#1645 Update unclosed-quotation-mark.md
  support/dynamics/gp/unclosed-quotation-mark.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1653 Update tls-client-offered-unsupported-versions.md
  support/azure/azure-kubernetes/create-upgrade-delete/tls-client-offered-unsupported-versions.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1651 Update turn-on-debug-logging-in-windows-time-service.md
  support/windows-server/active-directory/turn-on-debug-logging-in-windows-time-service.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1654 Update troubleshoot-scep-certificate-profiles.md
  support/mem/intune/certificates/troubleshoot-scep-certificate-profiles.md
Labels: do-not-merge

#1656 Update understand-vm-reboot.md - Non technical change
  support/azure/virtual-machines/windows/understand-vm-reboot.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1648 Update changing-property-imagereference-not-allowed.md
  support/azure/azure-kubernetes/create-upgrade-delete/changing-property-imagereference-not-allowed.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1650 Update error-code-vhdfilenotfound.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-vhdfilenotfound.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1657 Update changes-in-kubernetes-event-driven-autoscaling-add-on-214-215.md
  support/azure/azure-kubernetes/extensions/changes-in-kubernetes-event-driven-autoscaling-add-on-214-215.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1658 Update known-issues.md
  support/mem/intune/known-issues.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, qualifies-for-auto-merge

#1661 Update error-code-operationpreempted.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-operationpreempted.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1629 Adding new TSG for troubleshooting AKS node auto-repair errors
  support/azure/azure-kubernetes/availability-performance/node-auto-repair-errors.md
  support/azure/azure-kubernetes/toc.yml
  support/azure/azure-kubernetes/welcome-azure-kubernetes.yml
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1659 Update failure-setting-azure-disk-mount-options-uid-gid.md
  support/azure/azure-kubernetes/storage/failure-setting-azure-disk-mount-options-uid-gid.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1646 Update in-place-system-upgrade.md
  support/azure/virtual-machines/windows/in-place-system-upgrade.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1670 Update export-root-certification-authority-certificate.md
  support/windows-server/certificates-and-public-key-infrastructure-pki/export-root-certification-authority-certificate.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1673 Update error-code-invalidparameter.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-invalidparameter.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1669 Update the RHUI TSG.
  support/azure/virtual-machines/linux/troubleshoot-linux-rhui-certificate-issues.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1677 Update nodepoolmcversionincompatible-error.md
  support/azure/azure-kubernetes/create-upgrade-delete/nodepoolmcversionincompatible-error.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1672 Update kerberos-authentication-troubleshooting-guidance.md
  support/windows-server/windows-security/kerberos-authentication-troubleshooting-guidance.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1679 Update container-image-pull-performance.md
  support/azure/azure-kubernetes/availability-performance/container-image-pull-performance.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1676 TK82663AKSRVWARGLSTOOLONGAPPFAILURES
  support/azure/azure-kubernetes/create-upgrade-delete/application-fails-argument-list-too-long.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1680 Update file-sync-troubleshoot-cloud-tiering.md
  support/azure/azure-storage/files/file-sync/file-sync-troubleshoot-cloud-tiering.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-file-storage/svc

#1665 Update cannot-accrue-transactions-a-date.md
  support/dynamics/gp/cannot-accrue-transactions-a-date.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1681 Update access-denied-create-ntds-settings-object.md
  support/windows-server/active-directory/access-denied-create-ntds-settings-object.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1663 Update tcp-timeouts-kubetctl-third-party-tools-connect-api-server.md
  support/azure/azure-kubernetes/connectivity/tcp-timeouts-kubetctl-third-party-tools-connect-api-server.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1668 Update error-code-operationpreempted.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-operationpreempted.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1674 Update file-share-mount-failures-azure-files.md
  support/azure/azure-kubernetes/storage/file-share-mount-failures-azure-files.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1687 Floppy disk drives to floppy disks
  support/windows-server/backup-and-storage/guid-partitioning-table-disk-faq.yml
Labels: do-not-merge, needs-human-review, Change sent to author, windows-server/svc
