Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2024-11, with the labels that each got.

#1684 Update year-end-closing-payables-management.md
  support/dynamics/gp/year-end-closing-payables-management.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1691 Update windows-registry-advanced-users.md
  support/windows-server/performance/windows-registry-advanced-users.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1693 Update troubleshoot-conditional-access.md
  support/mem/intune/device-protection/troubleshoot-conditional-access.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, qualifies-for-auto-merge

#1690 Update error-deploying-password-policy.md
  support/mem/intune/device-protection/error-deploying-password-policy.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, qualifies-for-auto-merge

#1688 Update linux-kernel-panic-troubleshooting.md
  support/azure/virtual-machines/linux/linux-kernel-panic-troubleshooting.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1692 Add windows 11 pwsh command
  support/windows-client/shell-experience/fix-problems-in-windows-search.md
Labels: do-not-merge, Change sent to author, windows-client/svc

#1695 Fix a typo in linux-kernel-panic-troubleshooting.md
  support/azure/virtual-machines/linux/linux-kernel-panic-troubleshooting.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1694 Update use-netdom-reset-domain-controller-password.md
  support/windows-server/windows-security/use-netdom-reset-domain-controller-password.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1667 Update article "Error from server: error dialing backend: dial tcp".
  support/azure/azure-kubernetes/connectivity/error-from-server-error-dialing-backend-dial-tcp.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1699 Delete Retired .openpublishing.build.ps1 script of default branch
  .openpublishing.build.ps1
Labels: do-not-merge

#1701 fix: Escape slash before dot
  support/windows-server/active-directory/disable-and-replace-tls-1dot0.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1700 Adding alternative way to collect SDK logs using env variables
  support/azure/azure-monitor/app-insights/telemetry/opentelemetry-troubleshooting-nodejs.md
Labels: do-not-merge, Change sent to author, azure-monitor/svc, qualifies-for-auto-merge

#1705 Update error-code-operationnotallowed-publicipcountlimitreached.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-operationnotallowed-publicipcountlimitreached.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1706 Update could-not-change-permissions-azure-files.md
  support/azure/azure-kubernetes/storage/could-not-change-permissions-azure-files.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1704 Update node-not-ready-expired-certificates.md
  support/azure/azure-kubernetes/availability-performance/node-not-ready-expired-certificates.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1703 Update access-denied-when-joining-computers.md
  support/windows-server/active-directory/access-denied-when-joining-computers.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1702 Update apply-group-policy-objects-terminal-services.md
  support/windows-server/group-policy/apply-group-policy-objects-terminal-services.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1715 Update troubleshoot-key-vault-csi-secrets-store-csi-driver.md
  support/azure/azure-kubernetes/extensions/troubleshoot-key-vault-csi-secrets-store-csi-driver.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1714 Update cannot-delete-ip-subnet-nsg.md
  support/azure/azure-kubernetes/create-upgrade-delete/cannot-delete-ip-subnet-nsg.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1713 Update cannot-delete-load-balancer-private-link-service.md
  support/azure/azure-kubernetes/create-upgrade-delete/cannot-delete-load-balancer-private-link-service.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1711 Update error-code-inuseroutetablecannotbedeleted.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-inuseroutetablecannotbedeleted.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1698 Add a note about the "Microsoft Azure AD Internal - Jit Provisioning" actor
  support/entra/entra-id/governance/unknown-actors-in-audit-reports.md
Labels: do-not-merge, needs-human-review, Change sent to author, entra-id/svc

#1707 China Mooncake TLS deprecation update
  support/entra/entra-id/ad-dmn-services/enable-support-tls-environment.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, entra-id/svc

#1716 Update node-count-is-not-in-autoscaler-min-max-range.md
  support/azure/azure-kubernetes/create-upgrade-delete/node-count-is-not-in-autoscaler-min-max-range.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1709 Update cannot-view-resources-kubernetes-resource-viewer-portal.md
  support/azure/azure-kubernetes/connectivity/cannot-view-resources-kubernetes-resource-viewer-portal.md
  support/azure/azure-kubernetes/connectivity/media/cannot-view-resources-kubernetes-resource-viewer-portal/network-error.png
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1710 Update errors-arfter-restricting-egress-traffic.md
  support/azure/azure-kubernetes/connectivity/errors-arfter-restricting-egress-traffic.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1689 Update delete-operation-issues.md
  support/azure/azure-container-registry/delete-operation-issues.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-container-registry/svc

#1678 TK82665AKSRVWTSGCNIDWTIOUTVMEXERR
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-cnidownloadtimeoutvmextensionerror.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1722 Update subnet-with-external-resources-cannot-be-used-by-other-resourc…
  support/azure/azure-kubernetes/create-upgrade-delete/subnet-with-external-resources-cannot-be-used-by-other-resources.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1721 Update error-code-toomanyrequestsreceived-subscriptionrequeststhrottl…
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-toomanyrequestsreceived-subscriptionrequeststhrottled.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1720 Update cannot-access-cluster-api-server-using-authorized-ip-ranges.md
  support/azure/azure-kubernetes/connectivity/cannot-access-cluster-api-server-using-authorized-ip-ranges.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1717 Update known-issues.md
  support/mem/intune/known-issues.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, qualifies-for-auto-merge

#1725 Update create-file-share-failed-storage-account.md
  support/azure/azure-kubernetes/storage/create-file-share-failed-storage-account.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1726 Update load-balancer-or-nsg-in-use-by-vm-scale-set.md
  support/azure/azure-kubernetes/create-upgrade-delete/load-balancer-or-nsg-in-use-by-vm-scale-set.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1728 Update nodepools-not-upgraded-to-gen2-during-node-image-upgrade.md
  support/azure/azure-kubernetes/create-upgrade-delete/nodepools-not-upgraded-to-gen2-during-node-image-upgrade.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1727 Update resolve-blocking-problems-caused-lock-escalation.md
  support/sql/database-engine/performance/resolve-blocking-problems-caused-lock-escalation.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc

#1719 TK84129AKSRVWTSGSLWA-DTTACHOPAZDSK
  support/azure/azure-kubernetes/storage/slow-attach-detach-operations-azure-disk.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1723 Add windows 11 to applies to field in slow-page-file-growth-memory-allocation-errors.md
  support/windows-client/performance/slow-page-file-growth-memory-allocation-errors.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc

#1724 Update error-code-invalidparameter.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-invalidparameter.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1734 Update error-using-feature-requiring-virtual-machine-scale-set.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-using-feature-requiring-virtual-machine-scale-set.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge
