Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2024-04, with the labels that each got.

#1468 Update retore-deleted-accounts-and-groups-in-ad.md
  support/windows-server/active-directory/retore-deleted-accounts-and-groups-in-ad.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1473 Fixes typo in PowerShell command, and makes formatting consistent for a few other PowerShell commands
  support/windows-client/installing-updates-features-roles/sysprep-fails-remove-or-update-store-apps.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc

#1471 Update error-0x80090322-when-connecting-powershell-to-remote-server-v…
  support/windows-server/system-management-components/error-0x80090322-when-connecting-powershell-to-remote-server-via-winrm.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1470 Update track-software-update-compliance-assessment.md
  support/mem/configmgr/update-management/track-software-update-compliance-assessment.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, configuration-manager/svc

#1476 Update business-performance-analytics-self-help-overview.md
  support/dynamics-365/finance/business-performance-analytics/business-performance-analytics-self-help-overview.md
  support/dynamics-365/finance/business-performance-analytics/decimal-auto-rounding-err00012.md
  support/dynamics-365/finance/business-performance-analytics/decimal-limit-exceed-err00011.md
  support/dynamics-365/finance/business-performance-analytics/entity-dataframe-counts-err00009.md
  support/dynamics-365/finance/business-performance-analytics/mismatch-between-debits-and-credits-err00005.md
  support/dynamics-365/finance/business-performance-analytics/missing-budget-data-err00006.md
  support/dynamics-365/finance/business-performance-analytics/missing-budget-transaction-header-err00007.md
  support/dynamics-365/finance/business-performance-analytics/missing-fiscal-calendar-for-budget-err00002.md
  support/dynamics-365/finance/business-performance-analytics/missing-fiscal-calendar-for-general-ledger-err00001.md
  support/dynamics-365/finance/business-performance-analytics/missing-foreign-key-err0008.md
  support/dynamics-365/finance/business-performance-analytics/missing-journal-entries-err00004.md
  support/dynamics-365/finance/business-performance-analytics/missing-main-account-in-budget-err00003.md
  support/dynamics-365/finance/business-performance-analytics/missing-main-account-in-gl-err00010.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-365-finance/svc

#1474 Update using-kerberosmngr-sqlserver.md
  support/sql/database-engine/connect/using-kerberosmngr-sqlserver.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc, sql-engine-connectivity/subsvc

#1477 Update Linux in Azure support Phrasing to Present-Tense
  support/azure/virtual-machines/linux/support-linux-open-source-technology.md
Labels: do-not-merge, Change sent to author, cloud-services/svc, qualifies-for-auto-merge, reference/subsvc

#1479 Add breadcrumb for Power Pages
  support/breadcrumb/toc.yml
Labels: do-not-merge, needs-human-review, review-team-triage

#1481 Update troubleshooting-intermittent-connection-timeouts-availability-…
  support/sql/database-engine/availability-groups/troubleshooting-intermittent-connection-timeouts-availability-groups.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc, sql-engine-ag/subsvc

#1482 Update make-add-item-option-default-option.md
  support/dynamics/gp/make-add-item-option-default-option.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dynamics-gp/svc

#1487 style(ws-net): fix typo 'TP' to 'TCP'
  support/windows-server/networking/service-overview-and-network-port-requirements.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc
