Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2024-03, with the labels that each got.

#1437 Update for Windows Activation
  support/azure/virtual-machines/windows-virtual-machine-activation-faq.yml
Labels: do-not-merge, needs-human-review, Change sent to author, virtual-machines/svc, vm-windows-activation/subsvc

#1441 Update business-performance-analytics-self-help-overview.md
  support/dynamics-365/finance/business-performance-analytics/business-performance-analytics-self-help-overview.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dynamics-365-finance/svc

#1443 Update verify-first-party-apps-sign-in.md
  support/azure/active-directory/verify-first-party-apps-sign-in.md
Labels: do-not-merge, Change sent to author, active-directory/svc, compliance/subsvc, qualifies-for-auto-merge

#1448 Remove "typescript" value
  support/azure/azure-monitor/app-insights/opentelemetry-troubleshooting-nodejs.md
Labels: do-not-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#1449 Update swap-file-not-recreated-linux-vm-restart.md
  support/azure/virtual-machines/swap-file-not-recreated-linux-vm-restart.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-cannot-start-stop/subsvc, qualifies-for-auto-merge

#1440 Update verify-first-party-apps-sign-in.md
  support/azure/active-directory/verify-first-party-apps-sign-in.md
Labels: do-not-merge, Change sent to author, active-directory/svc, compliance/subsvc, qualifies-for-auto-merge

#1446 Update in-place-system-upgrade.md
  support/azure/virtual-machines/in-place-system-upgrade.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-common-errors-issues/subsvc, qualifies-for-auto-merge

#1380 [Pending Review]Update a-batch-is-held-in-the-several-statuses.md
  support/dynamics/gp/a-batch-is-held-in-the-several-statuses.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1387 [Pending Review]Update the-year-end-closing-procedures.md
  support/dynamics/gp/the-year-end-closing-procedures.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dynamics-gp/svc

#1405 [Pending Review]Update you-cannot-complete-this-process.md
  support/dynamics/gp/you-cannot-complete-this-process.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1412 [Pending Review]Update unable-to-generate-next-payment-or-voucher-number-when-enterin…
  support/dynamics/gp/unable-to-generate-next-payment-or-voucher-number-when-entering-payables-transaction.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1413 [Pending Review]Update errors-when-selecting-a-batch.md
  support/dynamics/gp/errors-when-selecting-a-batch.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dynamics-gp/svc

#1390 [Pending Review]Update guidelines-generate-eft-files.md
  support/dynamics/gp/guidelines-generate-eft-files.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1398 [Pending Review]Update developer-toolkit.md
  support/dynamics/gp/developer-toolkit.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1411 [Pending Review]Update how-to-reprint-the-reports-created-during-checkbook-reconcilia…
  support/dynamics/gp/how-to-reprint-the-reports-created-during-checkbook-reconciliation.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1430 [Pending Review]Update questions-home-pages-features.md
  support/dynamics/gp/questions-home-pages-features.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1415 [Pending Review]Update difference-between-full-limited-and-self-service-user-types.md
  support/dynamics/gp/difference-between-full-limited-and-self-service-user-types.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1452 Updated the issue related to blank or zero values
  support/dynamics-365/sales/troubleshoot-forecast-issues.md
Labels: do-not-merge, Change sent to author, dynamics-365-sales/svc, docs-editor-pilot, qualifies-for-auto-merge, d365-sales-sales/subsvc

#1454 Update re-initialize-offline-files-cache-database.md
  support/windows-client/networking/re-initialize-offline-files-cache-database.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc, networking/subsvc

#1458 Update unknown-actors-in-audit-reports.md
  support/azure/active-directory/unknown-actors-in-audit-reports.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, entra-id/svc, monitoring-health/subsvc

#1457 Update verify-first-party-apps-sign-in.md - metadata values
  support/azure/active-directory/verify-first-party-apps-sign-in.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, entra-id/svc, monitoring-health/subsvc

#1460 Fix typo
  support/windows-server/virtualization/error-0x80070005-export-vms.md
Labels: do-not-merge, Change sent to author, windows-server/svc, hyper-v/subsvc

#1455 Remove known issues for OT Python
  support/azure/azure-monitor/app-insights/opentelemetry-troubleshooting-python.md
Labels: do-not-merge, Change sent to author, azure-monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#1462 Update vm-stuck-in-failed-state.md
  support/azure/virtual-machines/vm-stuck-in-failed-state.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-common-errors-issues/subsvc, qualifies-for-auto-merge

#1464 Update troubleshoot-rdp-connection.md
  support/azure/virtual-machines/troubleshoot-rdp-connection.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-cannot-connect/subsvc, qualifies-for-auto-merge

#1459 Update region support in aks-cost-analysis-add-on-issues.md
  support/azure/azure-kubernetes/aks-cost-analysis-add-on-issues.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge, troubleshoot-extensions-add-ons/subsvc

#1467 Update capture-system-insights-from-aks.md deploy to azure integration
  support/azure/azure-kubernetes/capture-system-insights-from-aks.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, data-collection-guide/subsvc
