Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2024-07, with the labels that each got.

#1529 Update error-556-insert-exec-failed.md
  support/sql/database-engine/general/error-556-insert-exec-failed.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc

#1528 Update TSS for GPO scenarios so that it works - chcart
  support/windows-client/windows-tss/gather-information-using-tss-group-policy.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc

#1530 Update reset-local-password-without-agent.md
  support/azure/virtual-machines/windows/reset-local-password-without-agent.md
Labels: do-not-merge

#1531 Update error-0x80090322-when-connecting-powershell-to-remote-server-v…
  support/windows-server/system-management-components/error-0x80090322-when-connecting-powershell-to-remote-server-via-winrm.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1536 Update logs-multiple-events-specify-event-id-640.md
  support/windows-server/backup-and-storage/logs-multiple-events-specify-event-id-640.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1535 Update custom-routes-enable-kms-activation.md
  support/azure/virtual-machines/windows/custom-routes-enable-kms-activation.md
Labels: do-not-merge, needs-human-review, Change sent to author, virtual-machines/svc

#1543 Update guidelines-that-support-professionals-use.md
  support/dynamics/gp/guidelines-that-support-professionals-use.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dynamics-gp/svc

#1539 Update replication-error-2146893022.md
  support/windows-server/active-directory/replication-error-2146893022.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1549 Update netbios-wins-dont-bind-cluster-ip-address-resources.md
  support/windows-server/high-availability/netbios-wins-dont-bind-cluster-ip-address-resources.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1551 Update cannot-uninstall-apple-app-store-apps.md
  support/mem/intune/app-management/cannot-uninstall-apple-app-store-apps.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, qualifies-for-auto-merge

#1527 Update basic-troubleshooting-dns-resolution-problems.md
  support/azure/azure-kubernetes/connectivity/basic-troubleshooting-dns-resolution-problems.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge
