Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2024-01, with the labels that each got.

#1341 Update general-ledger-is-not-updated-expected.md
  support/dynamics/gp/general-ledger-is-not-updated-expected.md
Labels: do-not-merge, Change sent to author, dynamics-gp/prod, qualifies-for-auto-merge

#1345 Update year-end-closing-procedures-for-the-canadian-payroll-module.md
  support/dynamics/gp/year-end-closing-procedures-for-the-canadian-payroll-module.md
Labels: do-not-merge, Change sent to author, dynamics-gp/prod, qualifies-for-auto-merge

#1349 Column and tab labels are in the incorrect order within the steps.
  support/windows-server/high-availability/configure-volume-mount-points-server-cluser.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-high-availability/tech, qualifies-for-auto-merge

#1344 Update year-end-closing-procedures-for-payroll.md
  support/dynamics/gp/year-end-closing-procedures-for-payroll.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/prod

#1348 Update and review of cluster account objects doc.
  support/windows-server/high-availability/troubleshoot-issues-accounts-used-failover-clusters.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-high-availability/tech, qualifies-for-auto-merge

#1355 Update azure-vm-cannot-rdp-working-features.md
  support/azure/virtual-machines/azure-vm-cannot-rdp-working-features.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, vm-cannot-start-stop/subsvc, qualifies-for-auto-merge

#1356 fix heading levels to ensure consistency
  support/windows-server/group-policy/description-of-group-policy-restricted-groups.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-server-group-policy/tech, qualifies-for-auto-merge

#1354 Update identify-cpu-bound-queries.md
  support/sql/includes/performance/identify-cpu-bound-queries.md
Labels: do-not-merge, review-team-triage, qualifies-for-auto-merge

#1362 Update dsql-perf-stats-accuracy.md
  support/azure/synapse-analytics/dedicated-sql/dsql-perf-stats-accuracy.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, synapse-analytics/svc

#1363 Update certificateregistrationsvc-verify-request-error.md
  support/mem/intune/certificates/certificateregistrationsvc-verify-request-error.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, qualifies-for-auto-merge, intune-certificates/subsvc
