Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2024-09, with the labels that each got.

#1565 Update decommission-enterprise-certification-authority-and-remove-obj…
  support/windows-server/certificates-and-public-key-infrastructure-pki/decommission-enterprise-certification-authority-and-remove-objects.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1577 Update decommission-enterprise-certification-authority-and-remove-obj…
  support/windows-server/certificates-and-public-key-infrastructure-pki/decommission-enterprise-certification-authority-and-remove-objects.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1564 Update node-not-ready-after-being-healthy.md
  support/azure/azure-kubernetes/availability-performance/node-not-ready-after-being-healthy.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1567 Update capture-tcp-dump-linux-node-aks.md
  support/azure/azure-kubernetes/logs/capture-tcp-dump-linux-node-aks.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1568 Update troubleshoot-connection-pods-services-same-cluster.md
  support/azure/azure-kubernetes/connectivity/troubleshoot-connection-pods-services-same-cluster.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1566 Update support-agent-extensions.md
  support/azure/virtual-machines/windows/support-agent-extensions.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1580 Update 802-1x-authentication-issues-troubleshooting.md
  support/windows-client/networking/802-1x-authentication-issues-troubleshooting.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc

#1573 Update T-SQL to be better formatted and also output better-formatted code itself
  support/sql/database-engine/security/transfer-logins-passwords-between-instances.md
Labels: do-not-merge, needs-human-review, Change sent to author, sql/svc

#1584 Update cannot-change-configstorerootpath-value-hyperv-cluster.md
  support/windows-server/virtualization/cannot-change-configstorerootpath-value-hyperv-cluster.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1574 Update basic-troubleshooting-outbound-connections.md
  support/azure/azure-kubernetes/connectivity/basic-troubleshooting-outbound-connections.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1579 Update ribbon-issues-button-wrong-label.md
  support/power-platform/power-apps/create-and-use-apps/ribbon-issues-button-wrong-label.md
Labels: do-not-merge, Change sent to author, powerapps/svc, qualifies-for-auto-merge

#1585 Update troubleshoot-co-management-bootstrap.md
  support/mem/intune/comanage-configmgr/troubleshoot-co-management-bootstrap.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc

#1583 Update api-call-performance-counters-delay-container.md
  support/windows-server/virtualization/api-call-performance-counters-delay-container.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1588 Update user-cannot-get-cluster-resources.md
  support/azure/azure-kubernetes/connectivity/user-cannot-get-cluster-resources.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1589 Update troubleshoot-dns-failure-from-pod-but-not-from-worker-node.md
  support/azure/azure-kubernetes/connectivity/troubleshoot-dns-failure-from-pod-but-not-from-worker-node.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1590 Update identify-memory-saturation-aks.md
  support/azure/azure-kubernetes/availability-performance/identify-memory-saturation-aks.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1591 Update identify-high-cpu-consuming-containers-aks.md
  support/azure/azure-kubernetes/availability-performance/identify-high-cpu-consuming-containers-aks.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1592 Update error-code-linkedauthorizationfailed.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-linkedauthorizationfailed.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1595 Update error-code-subscriptionrequeststhrottled.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-subscriptionrequeststhrottled.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1587 Update software-runs-on-non-microsoft-virtualization-software.md
  support/windows-server/virtualization/software-runs-on-non-microsoft-virtualization-software.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1581 Update check-remittance-report-payables-management.md
  support/dynamics/gp/check-remittance-report-payables-management.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1603 Update error-code-missingsubscriptionregistration.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-missingsubscriptionregistration.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1604 Update error-code-quotaexceeded.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-quotaexceeded.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1605 Update config-file-is-not-available-when-connecting.md
  support/azure/azure-kubernetes/connectivity/config-file-is-not-available-when-connecting.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1601 Update intermittent-timeouts-or-server-issue.md
  support/azure/azure-kubernetes/connectivity/intermittent-timeouts-or-server-issue.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1608 Update bitlocker-recovery-known-issues.md
  support/windows-client/windows-security/bitlocker-recovery-known-issues.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc

#1611 Update mountoptions-settings-azure-files.md
  support/azure/azure-kubernetes/storage/mountoptions-settings-azure-files.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1607 Update kerberos-protocol-registry-kdc-configuration-keys.md
  support/windows-server/windows-security/kerberos-protocol-registry-kdc-configuration-keys.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1610 Update configure-ipv6-in-windows.md
  support/windows-server/networking/configure-ipv6-in-windows.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1599 Update cannot-logon-access-administrative-share.md
  support/windows-client/networking/cannot-logon-access-administrative-share.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc

#1606 chcart Update article for current OSes
  support/windows-client/performance/lsaiso-process-high-cpu-usage.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc

#1602 TK80390AKSRVWTSGVMextensionTOerrcode
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-vmextensionprovisioningtimeout.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1621 Update scripts-extract-msu-cab-files.md
  support/windows-server/support-tools/scripts-extract-msu-cab-files.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1623 Added cautionary note for cached credentials
  support/windows-server/user-profiles-and-logon/cached-domain-logon-information.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1614 Update node-not-ready-basic-troubleshooting.md
  support/azure/azure-kubernetes/availability-performance/node-not-ready-basic-troubleshooting.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1617 Update capture-tcp-dump-linux-node-aks.md
  support/azure/azure-kubernetes/logs/capture-tcp-dump-linux-node-aks.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1624 Update get-and-analyze-http-response-codes.md
  support/azure/azure-kubernetes/connectivity/get-and-analyze-http-response-codes.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1613 Update tcp-timeouts-dial-tcp-nodeip-10250-io-timeout.md
  support/azure/azure-kubernetes/connectivity/tcp-timeouts-dial-tcp-nodeip-10250-io-timeout.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1625 Update cannot-uninstall-apple-app-store-apps.md
  support/mem/intune/app-management/cannot-uninstall-apple-app-store-apps.md
Labels: do-not-merge, Change sent to author, microsoft-intune/svc, qualifies-for-auto-merge

#1620 TK80389AKSRVWFAQRUNSCALELARGEAKS
  support/azure/azure-kubernetes/create-upgrade-delete/aks-at-scale-troubleshoot-guide.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge
