Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2024-12, with the labels that each got.

#1685 Update how-to-use-perfInsights-linux.md
  support/azure/virtual-machines/linux/how-to-use-perfInsights-linux.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1730 Update slow-attach-detach-operations-azure-disk.md
  support/azure/azure-kubernetes/storage/slow-attach-detach-operations-azure-disk.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1737 Fix a typo ("closet" -> "close")
  support/windows-server/group-policy/use-group-policy-to-install-software.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1738 Update node-not-ready-then-recovers.md
  support/azure/azure-kubernetes/availability-performance/node-not-ready-then-recovers.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1744 Fix typo
  support/developer/webapps/aspnetcore/practice-troubleshoot-linux/2-1-create-configure-aspnet-core-applications.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aspnet-core/svc

#1745 Update error-code-outboundconnfailvmextensionerror.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-outboundconnfailvmextensionerror.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1759 sids-not-resolve-into-friendly-names.md: correct capitalisation
  support/windows-server/windows-security/sids-not-resolve-into-friendly-names.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1758 Update rebuild-performance-counter-library-values.md
  support/windows-server/performance/rebuild-performance-counter-library-values.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc
