Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2024-06, with the labels that each got.

#1502 Update file-sync-troubleshoot-sync-group-management.md
  support/azure/azure-storage/files/file-sync/file-sync-troubleshoot-cloud-tiering.md
  support/azure/azure-storage/files/file-sync/file-sync-troubleshoot-installation.md
  support/azure/azure-storage/files/file-sync/file-sync-troubleshoot-sync-errors.md
  support/azure/azure-storage/files/file-sync/file-sync-troubleshoot-sync-group-management.md
  support/azure/azure-storage/files/file-sync/file-sync-troubleshoot.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-file-storage/svc

#1503 Update reset-network-interface.md
  support/azure/virtual-machines/windows/reset-network-interface.md
Labels: do-not-merge, needs-human-review, Change sent to author, virtual-machines/svc

#1508 testing custom tags
  support/windows-server/performance/black-screen-on-boot.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1507 Update cannot-access-the-exception-service.md
  support/dynamics/gp/cannot-access-the-exception-service.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1506 Update troubleshoot-deployment-new-vm-linux.md
  support/azure/virtual-machines/linux/troubleshoot-deployment-new-vm-linux.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, qualifies-for-auto-merge

#1514 Update connectivity-issues-digicert-global-root-g2-not-installed.md
  support/mem/configmgr/setup-migrate-backup-recovery/connectivity-issues-digicert-global-root-g2-not-installed.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, configuration-manager/svc

#1516 Fix wrong task manager committed section note on introduction-to-the-page-file.md
  support/windows-client/performance/introduction-to-the-page-file.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc

#1519 Update connectivity-issues-digicert-global-root-g2-not-installed.md
  support/mem/configmgr/setup-migrate-backup-recovery/connectivity-issues-digicert-global-root-g2-not-installed.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, configuration-manager/svc

#1520 Update troubleshooting-breakpoints.md
  support/developer/visualstudio/debuggers/troubleshooting-breakpoints.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, visual-studio-family/svc, debuggers/subsvc

#1515 Update c-runtime-packages-desktop-bridge.md
  support/developer/visualstudio/cpp/libraries/c-runtime-packages-desktop-bridge.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, visual-cpp/svc, visual-cpp-libraries/subsvc

#1511 Update windows-vm-deployment-faqs.md
  support/azure/virtual-machines/windows/windows-vm-deployment-faqs.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, qualifies-for-auto-merge

#1524 Update basic-troubleshooting-dns-resolution-problems.md
  support/azure/azure-kubernetes/connectivity/basic-troubleshooting-dns-resolution-problems.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1526 fix typo
  support/dynamics-365/sales/cannot-connect-to-exchange-message-when-using-dynamics-365-app-for-outlook.md
Labels: do-not-merge, Change sent to author, dynamics-365-sales/svc, d365-sales-email-office-integration/subsvc, qualifies-for-auto-merge
