Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2024-05, with the labels that each got.

#1469 Update unlock-encrypted-disk-offline.md
  support/azure/virtual-machines/windows/unlock-encrypted-disk-offline.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, qualifies-for-auto-merge

#1492 Update install-vm-agent-offline.md
  support/azure/virtual-machines/windows/install-vm-agent-offline.md
Labels: do-not-merge, qualifies-for-auto-merge

#1497 Update pxe-clients-not-start-dhcp-60-66-67-option.md
  support/windows-server/networking/pxe-clients-not-start-dhcp-60-66-67-option.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1496 Update read-xml-data-from-url.md
  support/developer/visualstudio/csharp/language-compilers/read-xml-data-from-url.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dotnet/svc, lang-compilers/subsvc

#1495 Update read-xml-data-from-url.md
  support/developer/visualstudio/csharp/language-compilers/read-xml-data-from-url.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dotnet/svc, lang-compilers/subsvc

#1494 Update troubleshoot-vm-boot-error.md
  support/azure/virtual-machines/linux/troubleshoot-vm-boot-error.md
Labels: do-not-merge, Change sent to author, virtual-machines/svc, qualifies-for-auto-merge
