Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2025-06, with the labels that each got.

#1894 Update configure-w3svc-wsfc.md
  support/developer/webapps/iis/www-administration-management/configure-w3svc-wsfc.md
Labels: do-not-merge, Change sent to author, iis/svc

#1901 Update SQL Server Setup error message
  support/windows-server/certificates-and-public-key-infrastructure-pki/dpapi-masterkey-backup-failures.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1902 Update "Remote Desktop Listener Certificate" page
  support/windows-server/remote/media/remote-desktop-listener-certificate-configurations/successful-example-to-run-powershell-commands.png
  support/windows-server/remote/remote-desktop-listener-certificate-configurations.md
  support/zone-pivot-groups.yml
Labels: do-not-merge, needs-human-review, Change sent to author, windows-server/svc

#1904 Update income-tax-calculations-discrepancies-with-cra.md
  support/dynamics/gp/income-tax-calculations-discrepancies-with-cra.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1908 Minor fixes to "Remote Desktop listener certificate"
  support/windows-server/remote/media/remote-desktop-listener-certificate-configurations/thumbprint-property-w11.png
  support/windows-server/remote/remote-desktop-listener-certificate-configurations.md
Labels: do-not-merge, needs-human-review, Change sent to author, windows-server/svc
