Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2025-07, with the labels that each got.

#1911 Update issues-open-report-designer.md
  support/dynamics-365/finance/financial-reporting/issues-open-report-designer.md
  support/dynamics-365/finance/financial-reporting/unable-to-connect-financial-reporting-server.md
Labels: do-not-merge, Change sent to author, dynamics-365-finance/svc

#1922 Fix code sample htmlencoded &gt; in Troubleshoot AppInsights High Ing…
  support/azure/azure-monitor/app-insights/telemetry/troubleshoot-high-data-ingestion.md
Labels: do-not-merge, Change sent to author, azure-monitor/svc

#1923 Update troubleshoot-vnet-integration-apps.md
  support/azure/app-service/troubleshoot-vnet-integration-apps.md
Labels: do-not-merge, Change sent to author, azure-app-service/svc
