Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2025-02, with the labels that each got.

#1773 Update implement-impersonation.md
  support/developer/webapps/aspnet/development/implement-impersonation.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aspnet/svc

#1783 Update create-and-manage-central-store.md
  support/windows-client/group-policy/create-and-manage-central-store.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc

#1785 Update system-writer-not-found-in-backup.md
  support/windows-server/backup-and-storage/system-writer-not-found-in-backup.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1784 Update faqs-about-advanced-security-and-field-level-security.md
  support/dynamics/gp/faqs-about-advanced-security-and-field-level-security.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1782 Update poor-performance-calling-lookup-functions.md
  support/windows-server/active-directory/poor-performance-calling-lookup-functions.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc

#1775 Update troubleshoot-errors-running-attended-or-unattended-desktop-flo…
  support/power-platform/power-automate/desktop-flows/troubleshoot-errors-running-attended-or-unattended-desktop-flows.md
Labels: do-not-merge, Change sent to author, power-automate/svc, qualifies-for-auto-merge

#1776 Update msentramachinealwayspromptingforpassword-error.md with possible mitigations
  support/power-platform/power-automate/desktop-flows/msentramachinealwayspromptingforpassword-error.md
Labels: do-not-merge, needs-human-review, Change sent to author, power-automate/svc

#1777 Update troubleshoot-errors-running-attended-or-unattended-desktop-flo…
  support/power-platform/power-automate/desktop-flows/troubleshoot-errors-running-attended-or-unattended-desktop-flows.md
  support/power-platform/power-automate/desktop-flows/ui-flows-run-failed-with-aadlogonfailure-error.md
Labels: do-not-merge, Change sent to author, power-automate/svc, qualifies-for-auto-merge

#1769 Update unexpected-vm-reboot-root-cause-analysis.md
  support/azure/virtual-machines/windows/unexpected-vm-reboot-root-cause-analysis.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1786 Update wrap-issues.md
  support/power-platform/power-apps/manage-apps/wrap-issues.md
Labels: do-not-merge, Change sent to author, powerapps/svc, qualifies-for-auto-merge

#1764 Update error-code-vhdfilenotfound.md with new error code
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-vhdfilenotfound.md
  support/azure/azure-kubernetes/toc.yml
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1793 fix: typo
  support/developer/visualstudio/installation/set-up-vs-professional-2022-offline-machine.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, visual-studio-family/svc

#1794 Fix stray colons at end of image
  support/mem/intune/device-enrollment/troubleshoot-windows-auto-enrollment.md
  support/windows-client/performance/troubleshooting-slow-file-copying-in-windows.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-client/svc

#1799 Rectify "the" typos
  support/azure/virtual-machines/windows/failed-get-contents-log-error.md
  support/dynamics/gp/set-up-use-lot-expiration-dates.md
  support/sql/analysis-services/wmi-provider-error-0x80004005-code.md
  support/windows-client/performance/invalid-boot-file-received-error.md
  support/windows-server/group-policy/allow-active-content-to-run-files-on-my-computer-not-working.md
  support/windows-server/licensing-and-activation/troubleshoot-activation-error-codes.md
  support/windows-server/remote/windows-server-2016-rds-updates.md
  support/windows/win32/win32-networkadapterconfiguration-unable-retrieve-information.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-dev-apps/svc

#1797 Update 429-too-many-requests-errors.md
  support/azure/azure-kubernetes/create-upgrade-delete/429-too-many-requests-errors.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1796 Update insufficientsubnetsize-error-advanced-networking.md
  support/azure/azure-kubernetes/connectivity/insufficientsubnetsize-error-advanced-networking.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1798 Update web-socket-is-closed-or-could-not-be-opened.md
  support/azure/azure-container-instances/connectivity/web-socket-is-closed-or-could-not-be-opened.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-container-instances/svc

#1800 Update error-code-poddrainfailure.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-poddrainfailure.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1803 Update could-not-change-permissions-azure-files.md
  support/azure/azure-kubernetes/storage/could-not-change-permissions-azure-files.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge
