Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2025-05, with the labels that each got.

#1875 Update error-code-cnidownloadtimeoutvmextensionerror.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-cnidownloadtimeoutvmextensionerror.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1873 Add name restriction for aksmanagedap in Update aks-common-issues-faq.yml
  support/azure/azure-kubernetes/create-upgrade-delete/aks-common-issues-faq.yml
Labels: do-not-merge, needs-human-review, review-team-triage

#1879 Update in-place-system-upgrade.md
  support/azure/virtual-machines/windows/in-place-system-upgrade.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc

#1878 Update suse-public-cloud-connectivity-registration-issues.md
  support/azure/virtual-machines/linux/suse-public-cloud-connectivity-registration-issues.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc

#1876 Update resolve-az-aks-command-invoke-failures.md
  support/azure/azure-kubernetes/connectivity/resolve-az-aks-command-invoke-failures.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1882 Update command for dotnet new --install
  support/developer/visualstudio/installation/maui-template-missing-vs-2022-professional.md
Labels: do-not-merge, Change sent to author, visual-studio-family/svc

#1847 Update activation-watermark-appears.md
  support/azure/virtual-machines/windows/activation-watermark-appears.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc

#1874 Update error-messages.md
  support/azure/virtual-machines/windows/error-messages.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc

#1884 Update linux-recovery-cannot-start-file-system-errors.md
  support/azure/virtual-machines/linux/linux-recovery-cannot-start-file-system-errors.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc

#1886 remove unnecessary word
  support/developer/webapps/iis/health-diagnostic-performance/etw-log-diagnostic.md
Labels: do-not-merge, Change sent to author, iis/svc

#1883 Update support-policy-sql-server.md
  support/sql/database-engine/install/windows/support-policy-sql-server.md
Labels: do-not-merge, Change sent to author, sql/svc

#1890 Update services-not-automatically-restart-nic-teaming.md
  support/windows-server/networking/services-not-automatically-restart-nic-teaming.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1887 Update account-lockout-and-management-tool.md - Include info from previous article that is still valid.
  support/windows-server/windows-security/account-lockout-and-management-tool.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1889 Update files-troubleshoot-smb-connectivity.md
  support/azure/azure-storage/files/connectivity/files-troubleshoot-smb-connectivity.md
Labels: do-not-merge, Change sent to author, azure-file-storage/svc
