Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2025-01, with the labels that each got.

#1748 Update invalid-credentials-errors-running-desktop-flows.md
  support/power-platform/power-automate/desktop-flows/invalid-credentials-errors-running-desktop-flows.md
Labels: do-not-merge, Change sent to author, power-automate/svc, qualifies-for-auto-merge

#1762 Update decreased-query-perf-after-upgrade.md
  support/sql/database-engine/performance/decreased-query-perf-after-upgrade.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, sql/svc

#1751 Update troubleshoot-linux-rhui-certificate-issues.md
  support/azure/virtual-machines/linux/troubleshoot-linux-rhui-certificate-issues.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1765 update AADSTS7000110 error message
  support/entra/entra-id/app-integration/error-code-aadsts7000110-request-is-ambiguous.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, entra-id/svc

#1770 Update perfinsights-and-scale-set-vm-instances.md
  support/azure/virtual-machines/windows/perfinsights-and-scale-set-vm-instances.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1675 AB#1944: Update functions-monitoring-appinsightslogs.md
  support/azure/azure-functions/monitoring/functions-monitoring-appinsightslogs.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-functions/svc

#1771 Update enable-support-tls-environment.md
  support/entra/entra-id/ad-dmn-services/enable-support-tls-environment.md
Labels: do-not-merge, Change sent to author, entra-id/svc

#1772 Fixing YAML formatting issue related to Keda 2.14 breaking changes since current formatting is misleading
  support/azure/azure-kubernetes/extensions/changes-in-kubernetes-event-driven-autoscaling-add-on-214-215.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#1774 Update how-to-uninstall-manufacturing-if-it-is-installed-accidentally.md
  support/dynamics/gp/how-to-uninstall-manufacturing-if-it-is-installed-accidentally.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dynamics-gp/svc

#1778 Update performance-diagnostics.md
  support/azure/virtual-machines/windows/performance-diagnostics.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc
