Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2025-03, with the labels that each got.

#1808 adding missing resource group parameter in az vm repair command
  support/azure/virtual-machines/linux/linux-virtual-machine-cannot-start-fstab-errors.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-virtual-machines/svc

#1807 Update troubleshoot-dynamic-groups.md
  support/entra/entra-id/dir-dmns-obj/troubleshoot-dynamic-groups.md
Labels: do-not-merge, Change sent to author, entra-id/svc

#1806 Update troubleshoot-dynamic-group-processing.md
  support/entra/entra-id/dir-dmns-obj/troubleshoot-dynamic-group-processing.md
Labels: do-not-merge, Change sent to author, entra-id/svc

#1788 Added TSG for AKS RP error 'Throttled'
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-aksrequeststhrottled.md
  support/azure/azure-kubernetes/toc.yml
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1810 Fixed PowerShell typo
  support/windows-server/active-directory/information-lingering-objects.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1809 Update Application routing add-on link as HTTP application routing add-on has retired.
  support/azure/azure-kubernetes/load-bal-ingress-c/create-unmanaged-ingress-controller.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1815 Manually_Uninstall_Reinstall_Azure_VM_Agent
  support/azure/virtual-machines/windows/windows-azure-guest-agent.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc

#1813 Update tunnel-connectivity-issues.md
  support/azure/azure-kubernetes/connectivity/tunnel-connectivity-issues.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1830 Update tunnel-connectivity-issues.md
  support/azure/azure-kubernetes/connectivity/tunnel-connectivity-issues.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1831 Update node-count-is-not-in-autoscaler-min-max-range.md
  support/azure/azure-kubernetes/create-upgrade-delete/node-count-is-not-in-autoscaler-min-max-range.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1833 Fix minor typo
  support/windows-server/system-management-components/scenario-guide-troubleshoot-wmi-connectivity-access-issues.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1812 Add another cause for 401 Unauthorized error
  support/azure/azure-kubernetes/extensions/cannot-pull-image-from-acr-to-aks-cluster.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1825 Update cannot-access-cluster-api-server-using-authorized-ip-ranges.md
  support/azure/azure-kubernetes/connectivity/cannot-access-cluster-api-server-using-authorized-ip-ranges.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1828 Update reset-rdp.md
  support/azure/virtual-machines/windows/reset-rdp.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc

#1837 Update monitor-powers-off-when-pc-locked.md
  support/windows-client/shell-experience/monitor-powers-off-when-pc-locked.md
Labels: do-not-merge, Change sent to author, windows-client/svc

#1836 Update troubleshoot-rds-licensing-guidance.md
  support/windows-server/remote/troubleshoot-rds-licensing-guidance.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1838 Update error-code-inuseroutetablecannotbedeleted.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-inuseroutetablecannotbedeleted.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1834 Update akscapacityerror.md
  support/azure/azure-kubernetes/create-upgrade-delete/akscapacityerror.md
Labels: needs-human-review, ready-to-merge, Change sent to author, azure-kubernetes-service/svc

#1824 Update errors-arfter-restricting-egress-traffic.md
  support/azure/azure-kubernetes/connectivity/errors-arfter-restricting-egress-traffic.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc
