Repository MicrosoftDocs/SupportArticles-docs, pull requests merged in 2025-04, with the labels that each got.

#1819 Update troubleshoot-common-azure-linux-aks.md
  support/azure/azure-kubernetes/create-upgrade-delete/troubleshoot-common-azure-linux-aks.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1835 Update troubleshoot-rds-licensing-guidance.md
  support/windows-server/remote/troubleshoot-rds-licensing-guidance.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1829 Update fail-to-mount-azure-disk-volume.md
  support/azure/azure-kubernetes/storage/fail-to-mount-azure-disk-volume.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1845 Update error-code-operationnotallowed-publicipcountlimitreached.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-operationnotallowed-publicipcountlimitreached.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1846 Update error-code-toomanyrequestsreceived-subscriptionrequeststhrottl…
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-toomanyrequestsreceived-subscriptionrequeststhrottled.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1844 Update transfer-or-seize-operation-master-roles-in-ad-ds.md
  support/windows-server/active-directory/transfer-or-seize-operation-master-roles-in-ad-ds.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1820 Tunnel Connectivity Documentation Updates
  support/azure/azure-kubernetes/connectivity/tunnel-connectivity-issues.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1814 Update error-code-requestdisallowedbypolicy.md
  support/azure/azure-kubernetes/create-upgrade-delete/error-code-requestdisallowedbypolicy.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-kubernetes-service/svc

#1843 Update files-troubleshoot-performance.md
  support/azure/azure-storage/files/performance/files-troubleshoot-performance.md
Labels: do-not-merge, Change sent to author, azure-file-storage/svc

#1851 Update experience-slow-performance.md
  support/dynamics/gp/experience-slow-performance.md
Labels: do-not-merge, Change sent to author, dynamics-gp/svc

#1850 Update copy-blobs-between-storage-accounts-network-restriction.md
  support/azure/azure-storage/blobs/connectivity/copy-blobs-between-storage-accounts-network-restriction.md
Labels: do-not-merge, Change sent to author, azure-storage/svc

#1854 Update error-codes-spot-container-creation.md
  support/azure/azure-container-instances/configuration-setup/error-codes-spot-container-creation.md
Labels: do-not-merge, Change sent to author, azure-container-instances/svc

#1856 Update long-image-pulls.md
  support/azure/azure-container-instances/configuration-setup/long-image-pulls.md
Labels: do-not-merge, Change sent to author, azure-container-instances/svc

#1857 Update cannot-view-resources-kubernetes-resource-viewer-portal.md
  support/azure/azure-kubernetes/connectivity/cannot-view-resources-kubernetes-resource-viewer-portal.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1855 Update container-group-deployment-waiting-state.md
  support/azure/azure-container-instances/configuration-setup/container-group-deployment-waiting-state.md
Labels: do-not-merge, Change sent to author, azure-container-instances/svc

#1858 Corrected warmup path status code info and added references for customizing warmup path
  support/azure/app-service/faqs-app-service-linux.yml
Labels: do-not-merge, needs-human-review, Change sent to author, azure-app-service/svc

#1861 Update troubleshoot-dynamic-groups.md
  support/entra/entra-id/dir-dmns-obj/troubleshoot-dynamic-groups.md
Labels: do-not-merge, Change sent to author, entra-id/svc

#1853 Fixed typo
  support/power-platform/power-apps/connections/best-practices-when-updating-a-flow.md
Labels: do-not-merge, Change sent to author, powerapps/svc

#1859 Update error-message-start-microsoft-dynamics-gp.md
  support/dynamics/gp/error-message-start-microsoft-dynamics-gp.md
Labels: do-not-merge, needs-human-review, Change sent to author, dynamics-gp/svc

#1848 Corrected query syntax/description
  support/sql/database-engine/replication/sql-transaction-log-grows.md
Labels: do-not-merge, Change sent to author, sql/svc

#1867 Update troubleshoot-failed-kubernetes-deployment-offer.md
  support/azure/azure-kubernetes/extensions/troubleshoot-failed-kubernetes-deployment-offer.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#1863 Update files-troubleshoot-smb-connectivity.md
  support/azure/azure-storage/files/connectivity/files-troubleshoot-smb-connectivity.md
Labels: do-not-merge, Change sent to author, azure-file-storage/svc

#1865 Update repair-linux-vm-using-azure-virtual-machine-repair-commands.md
  support/azure/virtual-machines/linux/repair-linux-vm-using-azure-virtual-machine-repair-commands.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc

#1870 Update apps-forcibly-closed-tls-connection-errors.md
  support/windows-server/certificates-and-public-key-infrastructure-pki/apps-forcibly-closed-tls-connection-errors.md
Labels: do-not-merge, Change sent to author, windows-server/svc

#1871 Fix formatting issue
  support/entra/entra-id/app-integration/confidential-client-application-authentication-error-aadsts7000218.md
Labels: do-not-merge, Change sent to author, entra-id/svc
